@model ContentViewModels
@using ADCOnline.Simple.Json
@using ADCOnline.Utils
@using ADCOnline.Simple.Item
@using Microsoft.Extensions.Options
@using Website.Utils
@inject IOptions<GoogleCaptchaConfig> GoogleCaptChaConfig
@{
    if (Model.ProductItem != null)
    {
        ViewBag.Title = Model.ProductItem.SEOTitle;
        ViewBag.Name = Model.ProductItem.Name_;
        ViewBag.Description = Model.ProductItem.SeoDescription;
        ViewBag.Keywords = Model.ProductItem.SeoKeyword;
    }
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    ViewBag.Index = false;
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ProductItem.UrlPicture) ? Model.ProductItem.UrlPicture : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ProductItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ProductItem.Canonical) ? Model.ProductItem.Canonical : string.Empty;
    ViewBag.IsSchema = false;
    ViewBag.Index = false;
    var hotline = !string.IsNullOrEmpty(Model.SystemConfigJson.Hotline) ? Model.SystemConfigJson.Hotline.Replace(" ", "").Split(',') : null;
    ViewBag.LangModule = Model.ModuleItem.Lang;
    var TotalRate = Model.ProductItem.TotalRate;
    ViewBag.Banner = false;
}
@if (Model.ProductItem != null)
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.css">
    <div class="path no-banner">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                @ResourceData.Resource("TrangChu", ViewBag.Lang)
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <div>@Model.ModuleItem.Name</div>
        </div>
    </div>
    <div class="product-detail">
        <div class="container">
            <div class="detail">
                <div class="left">
                    @if (Model.ProductItem.AlbumGalleryItems.Any(x => x.AlbumType == 0))
                    {
                        <div class="slide-product-detail owl-carousel owl-theme">
                            @foreach (var item in Model.ProductItem.AlbumGalleryItems.Where(x => x.AlbumType == 0))
                            {
                                <div class="item" data-src="@item.AlbumUrl" data-fancybox="album" data-caption="@(!string.IsNullOrEmpty(item.AlbumTitle) ? item.AlbumTitle : Model.ProductItem.Name)">
                                    <div class="img">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ProductItem.Name))
                                    </div>
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="17" viewBox="0 0 512 512">
                                            <path d="M344 0H488c13.3 0 24 10.7 24 24V168c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-39-39-87 87c-9.4 9.4-24.6 9.4-33.9 0l-32-32c-9.4-9.4-9.4-24.6 0-33.9l87-87L327 41c-6.9-6.9-8.9-17.2-5.2-26.2S334.3 0 344 0zM168 512H24c-13.3 0-24-10.7-24-24V344c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2l39 39 87-87c9.4-9.4 24.6-9.4 33.9 0l32 32c9.4 9.4 9.4 24.6 0 33.9l-87 87 39 39c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8z" />
                                        </svg>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="bot">
                            <div class="slide-product-detail1 owl-carousel owl-theme">
                                @foreach (var item in Model.ProductItem.AlbumGalleryItems.Where(x => x.AlbumType == 0))
                                {
                                    <div class="item">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ProductItem.Name))
                                    </div>
                                }
                            </div>
                            <div class="video">
                                <div class="img">
                                    <img src="/html/style/images/video.webp" alt="img">
                                </div>
                                <p>Video</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="right">
                    <h1 class="big-title title-product-detail">@Model.ProductItem.Name</h1>
                    <div class="code">
                        <p>@ResourceData.Resource("Ma", ViewBag.Lang): @Model.ProductItem.ProductCode</p>
                    </div>
                    <div class="p-price">
                        @if (Model.ProductItem.PriceOld.HasValue)
                        {
                            <p>@Utility.GetFormatPriceType(Model.ProductItem.PriceOld,1,"",true)</p>
                        }
                        <p><strong>@Utility.GetFormatPriceType(Model.ProductItem.Price,1,ResourceData.Resource("LienHe", ViewBag.Lang),true)</strong></p>
                    </div>
                    <div class="paragraph fs17 detail-content">
                        @Html.Raw(Model.ProductItem.Description)
                    </div>
                    <div class="contact-order">
                        <div class="item pop-upform">@ResourceData.Resource("DatHangNgay", ViewBag.Lang)</div>
                        @if (hotline.Any())
                        {
                            <a href="tel:@Utility.FormatPhone(hotline.FirstOrDefault())" title="hotline" target="_blank" rel="nofollow" class="item revert">Hotline: @hotline.FirstOrDefault()</a>
                        }
                    </div>
                </div>
            </div>
            <div class="intro @(Model.ListProductItem.Any() ? string.Empty : "full")">
                <div class="left">
                    @if (!string.IsNullOrEmpty(Model.ProductItem.Information))
                    {
                        <div class="item">
                            <div class="title">
                                <h2 class="big-title none title-main-page">@ResourceData.Resource("GioiThieuVe", ViewBag.Lang) @Model.ProductItem.Name_</h2>
                                <div class="icon btn-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18"
                                         viewBox="0 0 320 512">
                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content">
                                <div class="paragraph fs17 justify detail-content">
                                    @Html.Raw(Model.ProductItem.Information)
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ProductItem.Content))
                    {
                        <div class="item">
                            <div class="title">
                                <h2 class="big-title none title-main-page">@ResourceData.Resource("ThongSoKiThuat", ViewBag.Lang)</h2>
                                <div class="icon btn-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18"
                                         viewBox="0 0 320 512">
                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content">
                                <div class="paragraph fs17 justify detail-content">
                                    @Html.Raw(Model.ProductItem.Content)
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ProductItem.Document))
                    {
                        <div class="item">
                            <div class="title">
                                <h2 class="big-title none title-main-page">@ResourceData.Resource("DacDiemNoibat", ViewBag.Lang)</h2>
                                <div class="icon btn-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18"
                                         viewBox="0 0 320 512">
                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content">
                                <div class="paragraph fs17 justify detail-content">
                                    @Html.Raw(Model.ProductItem.Document)
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.ListSubItems.Any())
                    {
                        <div class="item">
                            <div class="title">
                                <h2 class="big-title none title-main-page">@ResourceData.Resource("CongTrinhTieuBieu", ViewBag.Lang)</h2>
                                <div class="icon btn-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18"
                                         viewBox="0 0 320 512">
                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content">
                                <div class="slide-construction owl-carousel owl-theme">
                                    @foreach (SubItem item in Model.ListSubItems)
                                    {
                                        <div class="item item-construction-index">
                                            <div class="img">
                                                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                            </div>
                                            <h3 class="big-title title-product color-white">@item.Name</h3>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.ListProductItem.Any())
                {
                    <div class="right">
                        <div class="big-title title-main-page none">@ResourceData.Resource("SanPhamTuongTu", ViewBag.Lang)</div>
                        <div class="list">
                            @foreach (WebsiteProductItemJson item in Model.ListProductItem)
                            {
                                <div class="item item-product-new">
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                    </a>
                                    <div class="text">
                                        <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="name">
                                            @item.Name
                                        </a>
                                        <div class="code">
                                            <p>@ResourceData.Resource("Ma", ViewBag.Lang): @item.ProductCode</p>
                                        </div>
                                        <div class="p-price">
                                            @if (item.PriceOld.HasValue)
                                            {
                                                <p>@Utility.GetFormatPriceType(item.PriceOld,1,"",true)</p>
                                            }
                                            <p><strong>@Utility.GetFormatPriceType(item.Price,1,ResourceData.Resource("LienHe", ViewBag.Lang),true)</strong></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="other-curtain">
        <div class="container">
            <div class="big-title title-extra center before">
                <p>@ResourceData.Resource("CacLoaiRemKhac", ViewBag.Lang)</p>
            </div>
            <div class="slide-other-curtain owl-carousel owl-theme">
                @foreach (WebsiteModulesItem item in Model.ListModulesItem)
                {
                    <div class="item item-collection">
                        <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                        </a>
                        <h3 class="big-title title-product color-white center"><a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">@item.Name</a></h3>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

    <div class="form-contact form-popup-order">
        <div class="exit-popup">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" /></svg>
        </div>
        <div class="left">
            <div class="img">
                @Html.Raw(Utility.GetImage(WebConfig.PathServer, Model.ProductItem.UrlPicture, Model.ProductItem.Name))
            </div>
            <div class="info">
                <h3>@Model.ProductItem.Name</h3>
                <div class="p-price">
                    @if (Model.ProductItem.PriceOld.HasValue)
                    {
                        <p>@Utility.GetFormatPriceType(Model.ProductItem.PriceOld,1,"",true)</p>
                    }
                    <p><strong>@Utility.GetFormatPriceType(Model.ProductItem.Price,1,ResourceData.Resource("LienHe", ViewBag.Lang),true)</strong></p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="big-title title-form-contact">
                <p>@ResourceData.Resource("DatHang", ViewBag.Lang)</p>
            </div>
            <form action="@Url.Action("SendOrder","Home")" id="SendCOrder" method="post" autocomplete="off">
                <div class="form-input">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="17" viewBox="0 0 448 512">
                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                        </svg>
                    </div>
                    <input type="text" name="FullName" placeholder="@ResourceData.Resource("HoTen",ViewBag.Lang)*" />
                </div>
                <div class="form-input">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="17" viewBox="0 0 384 512">
                            <path d="M16 64C16 28.7 44.7 0 80 0H304c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H80c-35.3 0-64-28.7-64-64V64zM224 448a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM304 64H80V384H304V64z" />
                        </svg>
                    </div>
                    <input type="text" name="Phone" placeholder="@ResourceData.Resource("DienThoai",ViewBag.Lang)*" />
                </div>
                <div class="form-input">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" /></svg>
                    </div>
                    <input type="text" name="Address" placeholder="@ResourceData.Resource("DiaChi",ViewBag.Lang)*" />
                </div>
                <div class="form-input">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M160 32c9 0 17.5 3.8 23.6 10.4l88 96c11.9 13 11.1 33.3-2 45.2s-33.3 11.1-45.2-2L192 146.3V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V146.3L95.6 181.6c-11.9 13-32.2 13.9-45.2 2s-13.9-32.2-2-45.2l88-96C142.5 35.8 151 32 160 32zM450.7 294c8.3 6 13.3 15.7 13.3 26v96h16c17.7 0 32 14.3 32 32s-14.3 32-32 32H432 384c-17.7 0-32-14.3-32-32s14.3-32 32-32h16V364.4l-5.9 2c-16.8 5.6-34.9-3.5-40.5-20.2s3.5-34.9 20.2-40.5l48-16c9.8-3.3 20.5-1.6 28.8 4.4zm-5-145.1A32 32 0 1 0 418.3 91a32 32 0 1 0 27.4 57.9zm-40.7 54.9C369.6 192.4 344 159.2 344 120c0-48.6 39.4-88 88-88s88 39.4 88 88c0 23.5-7.5 46.3-21.5 65.2L449.7 251c-10.5 14.2-30.6 17.2-44.8 6.7s-17.2-30.6-6.7-44.8l6.8-9.2z" /></svg>
                    </div>
                    <input type="text" name="Number" placeholder="@ResourceData.Resource("SoLuong",ViewBag.Lang)*" />
                </div>
                <div class="form-textarea">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="17" viewBox="0 0 576 512">
                            <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V285.7l-86.8 86.8c-10.3 10.3-17.5 23.1-21 37.2l-18.7 74.9c-2.3 9.2-1.8 18.8 1.3 27.5H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM549.8 235.7l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6l-29.4 29.4-71-71 29.4-29.4c15.6-15.6 40.9-15.6 56.6 0zM311.9 417L441.1 287.8l71 71L382.9 487.9c-4.1 4.1-9.2 7-14.9 8.4l-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2s-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9z" />
                        </svg>
                    </div>
                    <textarea name="Content" id="" cols="30" rows="5" placeholder="@ResourceData.Resource("NoiDung", ViewBag.Lang)"></textarea>
                </div>
                <button type="submit" class="more border square1 submit-contact">
                    @ResourceData.Resource("GuiDi", ViewBag.Lang)
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </div>
                </button>
                @Html.AntiForgeryToken()
                <input type="hidden" name="Token" id="ModelTokenOrder" />
                <input type="hidden" name="ProductID" value="@Model.ProductItem.ID" />
            </form>

            <script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptChaConfig.Value.SiteKey"></script>
            <script>
                function getTokenOrder() {
                    grecaptcha.ready(function () {
                        grecaptcha.execute('@GoogleCaptChaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
                            document.getElementById('ModelTokenOrder').value = token;
                        });
                    });
                }
                setInterval(getTokenOrder, 11500);
                $(function () {
                    //var d = new Date();
                    //$('#Time').datetimepicker({
                    //    format: 'd/m/Y', timepicker: false, theme: 'dark', minDate: d
                    //});
                    getTokenOrder();
                    var process = new ProcessData();
                    process.SendOrder();
                });
            </script>
        </div>
    </div>
}