@model ContentViewModels
@using ADCOnline.Simple.Json
@using ADCOnline.Utils
@using ADCOnline.Simple.Item
@using Microsoft.Extensions.Options
@using Website.Utils
@inject IOptions<GoogleCaptchaConfig> GoogleCaptChaConfig
@{
    if (Model.ProductItem != null)
    {
        ViewBag.Title = Model.ProductItem.SEOTitle;
        ViewBag.Name = Model.ProductItem.Name_;
        ViewBag.Description = Model.ProductItem.SeoDescription;
        ViewBag.Keywords = Model.ProductItem.SeoKeyword;
    }
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    ViewBag.Index = false;
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ProductItem.UrlPicture) ? Model.ProductItem.UrlPicture : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ProductItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ProductItem.Canonical) ? Model.ProductItem.Canonical : string.Empty;
    ViewBag.IsSchema = false;
    ViewBag.Index = false;
    var hotline = !string.IsNullOrEmpty(Model.SystemConfigJson.Hotline) ? Model.SystemConfigJson.Hotline.Replace(" ", "").Split(',') : null;
    ViewBag.LangModule = Model.ModuleItem.Lang;
    var TotalRate = Model.ProductItem.TotalRate;
    ViewBag.Banner = false;
}
@if (Model.ProductItem != null)
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.css">
    <div class="path no-banner">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                @ResourceData.Resource("TrangChu", ViewBag.Lang)
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <div>@Model.ModuleItem.Name</div>
        </div>
    </div>
    <div class="product-detail">
        <div class="container">
            <div class="detail">
                <div class="left">
                    @if (Model.ProductItem.AlbumGalleryItems.Any(x => x.AlbumType == 0))
                    {
                        <div class="slide-product-detail owl-carousel owl-theme">
                            @foreach (var item in Model.ProductItem.AlbumGalleryItems.Where(x => x.AlbumType == 0))
                            {
                                <div class="item" data-src="@item.AlbumUrl" data-fancybox="album" data-caption="@(!string.IsNullOrEmpty(item.AlbumTitle) ? item.AlbumTitle : Model.ProductItem.Name)">
                                    <div class="img">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ProductItem.Name))
                                    </div>
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="17" viewBox="0 0 512 512">
                                            <path d="M344 0H488c13.3 0 24 10.7 24 24V168c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-39-39-87 87c-9.4 9.4-24.6 9.4-33.9 0l-32-32c-9.4-9.4-9.4-24.6 0-33.9l87-87L327 41c-6.9-6.9-8.9-17.2-5.2-26.2S334.3 0 344 0zM168 512H24c-13.3 0-24-10.7-24-24V344c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2l39 39 87-87c9.4-9.4 24.6-9.4 33.9 0l32 32c9.4 9.4 9.4 24.6 0 33.9l-87 87 39 39c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8z" />
                                        </svg>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="bot">
                            <div class="slide-product-detail1 owl-carousel owl-theme">
                                @foreach (var item in Model.ProductItem.AlbumGalleryItems.Where(x => x.AlbumType == 0))
                                {
                                    <div class="item">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ProductItem.Name))
                                    </div>
                                }
                            </div>
                            <div class="video">
                                <div class="img">
                                    <img src="/html/style/images/video.webp" alt="img">
                                </div>
                                <p>Video</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="right">
                    <h1 class="big-title title-product-detail">@Model.ProductItem.Name</h1>
                    <div class="code">
                        <p>@ResourceData.Resource("Ma", ViewBag.Lang): @Model.ProductItem.ProductCode</p>
                    </div>
                    <div class="p-price">
                        @if (Model.ProductItem.PriceOld.HasValue)
                        {
                            <p>@Utility.GetFormatPriceType(Model.ProductItem.PriceOld,1,"",true)</p>
                        }
                    </div>
                    <div class="paragraph fs17 detail-content">
                        @Html.Raw(Model.ProductItem.Description)
                    </div>
                    <div class="contact-order">
                        <a href="@Utility.Link(Model.WebsiteModulesItem.NameAscii, string.Empty, Model.WebsiteModulesItem.LinkUrl)" title="@Model.WebsiteModulesItem.Name" class="item">@ResourceData.Resource("LienHeMuaHang", ViewBag.Lang)</a>
                        @if (hotline.Any())
                        {
                            <a href="tel:@Utility.FormatPhone(hotline.FirstOrDefault())" title="hotline" target="_blank" rel="nofollow" class="item revert">Hotline: @hotline.FirstOrDefault()</a>
                        }
                    </div>
                </div>
            </div>
            <div class="intro @(Model.ListProductItem.Any() ? string.Empty : "full")">
                <div class="left">
                    @if (!string.IsNullOrEmpty(Model.ProductItem.Information))
                    {
                        <div class="item">
                            <div class="title">
                                <h2 class="big-title none title-main-page">@ResourceData.Resource("GioiThieuVe", ViewBag.Lang) @Model.ProductItem.Name_</h2>
                                <div class="icon btn-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18"
                                         viewBox="0 0 320 512">
                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content">
                                <div class="paragraph fs17 justify detail-content">
                                    @Html.Raw(Model.ProductItem.Information)
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ProductItem.Content))
                    {
                        <div class="item">
                            <div class="title">
                                <h2 class="big-title none title-main-page">@ResourceData.Resource("ThongSoKiThuat", ViewBag.Lang)</h2>
                                <div class="icon btn-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18"
                                         viewBox="0 0 320 512">
                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content">
                                <div class="paragraph fs17 justify detail-content">
                                    @Html.Raw(Model.ProductItem.Content)
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ProductItem.Document))
                    {
                        <div class="item">
                            <div class="title">
                                <h2 class="big-title none title-main-page">@ResourceData.Resource("DacDiemNoibat", ViewBag.Lang)</h2>
                                <div class="icon btn-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18"
                                         viewBox="0 0 320 512">
                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content">
                                <div class="paragraph fs17 justify detail-content">
                                    @Html.Raw(Model.ProductItem.Document)
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.ListSubItems.Any())
                    {
                        <div class="item">
                            <div class="title">
                                <h2 class="big-title none title-main-page">@ResourceData.Resource("CongTrinhTieuBieu", ViewBag.Lang)</h2>
                                <div class="icon btn-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18"
                                         viewBox="0 0 320 512">
                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="content">
                                <div class="slide-construction owl-carousel owl-theme">
                                    @foreach (SubItem item in Model.ListSubItems)
                                    {
                                        <div class="item item-construction-index">
                                            <div class="img">
                                                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                            </div>
                                            <h3 class="big-title title-product color-white">@item.Name</h3>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.ListProductItem.Any())
                {
                    <div class="right">
                        <div class="big-title title-main-page none">@ResourceData.Resource("SanPhamTuongTu", ViewBag.Lang)</div>
                        <div class="list">
                            @foreach (WebsiteProductItemJson item in Model.ListProductItem)
                            {
                                <div class="item item-product-new">
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                    </a>
                                    <div class="text">
                                        <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="name">
                                            @item.Name
                                        </a>
                                        <div class="code">
                                            <p>@ResourceData.Resource("Ma", ViewBag.Lang): @item.ProductCode</p>
                                        </div>
                                        <div class="p-price">
                                            @if (item.PriceOld.HasValue)
                                            {
                                                <p>@Utility.GetFormatPriceType(item.PriceOld,1,"",true)</p>
                                            }
                                            <p><strong>@Utility.GetFormatPriceType(item.Price,1,ResourceData.Resource("LienHe", ViewBag.Lang),true)</strong></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="other-curtain">
        <div class="container">
            <div class="big-title title-extra center before">
                <p>@ResourceData.Resource("CacLoaiRemKhac", ViewBag.Lang)</p>
            </div>
            <div class="slide-other-curtain owl-carousel owl-theme">
                @foreach (WebsiteModulesItem item in Model.ListModulesItem)
                {
                    <div class="item item-collection">
                        <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                        </a>
                        <h3 class="big-title title-product color-white center"><a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">@item.Name</a></h3>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
}