@model ContentViewModels
@using ADCOnline.Simple.Json
@using ADCOnline.Utils
@using ADCOnline.Simple.Item
@using Microsoft.Extensions.Options
@using Website.Utils
@inject IOptions<GoogleCaptchaConfig> GoogleCaptChaConfig
@{
    if (Model.ProductItem != null)
    {
        ViewBag.Title = Model.ProductItem.SEOTitle;
        ViewBag.Name = Model.ProductItem.Name_;
        ViewBag.Description = Model.ProductItem.SeoDescription;
        ViewBag.Keywords = Model.ProductItem.SeoKeyword;
    }
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    ViewBag.Index = false;
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ProductItem.UrlPicture) ? Model.ProductItem.UrlPicture : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ProductItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ProductItem.Canonical) ? Model.ProductItem.Canonical : string.Empty;
    ViewBag.IsSchema = false;
    ViewBag.Index = false;
    ViewBag.LangModule = Model.ModuleItem.Lang;
    var TotalRate = Model.ProductItem.TotalRate;
    ViewBag.Banner = false;
}
@if (Model.ProductItem != null)
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.css">
    <div class="path">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                <svg xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 0 576 512">
                    <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg>
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <a href="@Utility.Link(Model.ModuleItem.NameAscii, string.Empty, Model.ModuleItem.LinkUrl)" title="@Model.ModuleItem.Name">
                @Model.ModuleItem.Name
            </a>
        </div>
    </div>
    <div class="hotel-detail">
        <div class="container">
            <div class="title">
                <h1 class="big-title uppercase">@Model.ProductItem.Name</h1>
                <div class="rate-price">
                    <div class="star first">
                        @{
                            int length = Model.ProductItem.Star;
                        }
                        @for (int i = 1; i <= length; i++)
                        {
                            <div class="item">
                                <svg class="active" xmlns="http://www.w3.org/2000/svg" height="15px"
                                     viewBox="0 0 576 512">
                                    <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                </svg>
                            </div>
                        }

                                            </div>
                    <p>@ResourceData.Resource("GiaTu", ViewBag.Lang): <strong>@Utility.GetFormatPriceType(Model.ProductItem.Price, 1, ResourceData.Resource("LienHe", ViewBag.Lang), true)</strong></p>
                </div>
            </div>
            <div class="content">
                <div class="left">
                    @if (Model.ProductItem.AlbumGalleryItems.Any(x => x.AlbumType == 0))
                    {
                        <div class="slide-img owl-carousel owl-theme">
                            @foreach (var item in Model.ProductItem.AlbumGalleryItems.Where(x => x.AlbumType == 0))
                            {
                                <div class="item">
                                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ProductItem.Name))
                                </div>
                            }
                        </div>
                    }
                    <div class="type-scroll">
                        <div class="type">
                            <div class="item active" data-id="1">
                                <p>@ResourceData.Resource("TongQuan", ViewBag.Lang)</p>
                            </div>
                            <div class="item" data-id="2">
                                <p>@ResourceData.Resource("ChiTietKhachSan", ViewBag.Lang)</p>
                            </div>
                            <div class="item" data-id="3">
                                <p>@ResourceData.Resource("ChinhSach", ViewBag.Lang)</p>
                            </div>
                            <div class="item" data-id="4">
                                <p>@ResourceData.Resource("GhiChu", ViewBag.Lang)</p>
                            </div>
                        </div>
                    </div>
                    <div class="overview active" data-id="1">
                        <div class="paragraph detail-content">
                            @if (!string.IsNullOrEmpty(Model.ProductItem.Content))
                            {
                                @Html.Raw(Model.ProductItem.Content)
                            }
                            else
                            {
                                <p class="update center">@ResourceData.Resource("DangCapNhat", ViewBag.Lang)</p>
                            }
                        </div>
                    </div>
                    <div class="overview" data-id="3">
                        <div class="paragraph detail-content">
                            @if (!string.IsNullOrEmpty(Model.ProductItem.Information))
                            {
                                @Html.Raw(Model.ProductItem.Information)
                            }
                            else
                            {
                                <p class="update center">@ResourceData.Resource("DangCapNhat", ViewBag.Lang)</p>
                            }
                        </div>
                    </div>
                    <div class="overview" data-id="4">
                        <div class="paragraph detail-content">
                            @if (!string.IsNullOrEmpty(Model.ProductItem.Document))
                            {
                                @Html.Raw(Model.ProductItem.Document)
                            }
                            else
                            {
                                <p class="update center">@ResourceData.Resource("DangCapNhat", ViewBag.Lang)</p>
                            }
                        </div>
                    </div>
                    <div class="details" data-id="2">
                        @foreach (var item in Model.ProductItem.ListSubItems)
                        {
                            <div class="item item-hotel-detail">
                                <div class="info">
                                    <div class="img">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                    </div>
                                    <div class="text">
                                        <div class="paragraph fs14 detail-content">
                                            @Html.Raw(item.Content)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="right">
                    <form action="@Url.Action("BookHotel","Home")" id="BookHotel" method="post" autocomplete="off">
                        <input type="hidden" name="ProductID" value="@Model.ProductItem.ID" />
                        <div class="big-title center uppercase title-content">
                            <p><strong>@ResourceData.Resource("LienHeDatPhong", ViewBag.Lang)</strong></p>
                        </div>
                        <input type="text" name="FullName" placeholder="@ResourceData.Resource("HoTen", ViewBag.Lang)*">
                        <input type="text" name="Email" placeholder="Email*">
                        <input type="text" name="Phone" placeholder="@ResourceData.Resource("DienThoai", ViewBag.Lang)*">
                        <input type="text" name="Address" placeholder="@ResourceData.Resource("DiaChi", ViewBag.Lang)">
                        <textarea name="Content" placeholder="@ResourceData.Resource("YeuCau", ViewBag.Lang)"></textarea>
                        <button type="submit" class="more uppercase bold fs16 submit-form btnBookHotel">
                            <p>@ResourceData.Resource("GuiLienHe", ViewBag.Lang)</p>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="currentColor"
                                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </button>
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Token" id="ModelTokenBookHotel" />
                    </form>
                    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptChaConfig.Value.SiteKey"></script>
                    <script>
                        function getTokenBookHotel() {
                            grecaptcha.ready(function () {
                                grecaptcha.execute('@GoogleCaptChaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
                                    document.getElementById('ModelTokenBookHotel').value = token;
                                });
                            });
                        }
                        setInterval(getTokenBookHotel, 11500);
                        $(function () {
                            getTokenBookHotel();
                            var process = new ProcessData();
                            process.SendBookHotel();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    @if (Model.ListProductItem.Any())
    {
        <div class="related-tour related-hotel">
            <div class="container">
                <h2 class="big-title uppercase border">@ResourceData.Resource("KhachSanLienQuan", ViewBag.Lang)</h2>
                <div class="slide-endow-tour owl-carousel owl-theme">
                    @foreach (var item in Model.ListProductItem)
                    {
                        <div class="item item-tour item-hotel">
                            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img-tour">
                                <div class="img">
                                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                </div>
                                <div class="info">
                                    <div class="time">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg>
                                        </div>
                                        <p>@item.Address</p>
                                    </div>
                                    <div class="price">
                                        <p>@Utility.GetFormatPriceType(item.Price, 1, ResourceData.Resource("LienHe", ViewBag.Lang), true)</p>
                                    </div>
                                </div>
                            </a>
                            <div class="text">
                                <h3 class="big-title title-item center">
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">@item.Name</a>
                                </h3>
                                <div class="rating">
                                    <div class="item-star">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="15px"
                                             viewBox="0 0 576 512">
                                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                        </svg>
                                    </div>
                                    <div class="item-star">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="15px"
                                             viewBox="0 0 576 512">
                                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                        </svg>
                                    </div>
                                    <div class="item-star">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="15px"
                                             viewBox="0 0 576 512">
                                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                        </svg>
                                    </div>
                                    <div class="item-star">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="15px"
                                             viewBox="0 0 576 512">
                                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                        </svg>
                                    </div>
                                    <div class="item-star">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="15px"
                                             viewBox="0 0 576 512">
                                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <script src="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
}