@model Website.Areas.Admin.ViewModels.WebsiteModuleViewModel
@using ADCOnline.Utils
@{
    bool Attr = false;
}
@if (Model.SystemActionAdmin.View)
{
    <div class="badge badge-info" style="margin-bottom:10px;cursor:pointer;" id="ShowAll">Xem tất cả</div>
    <div class="badge badge-warning" style="margin-bottom:10px;cursor:pointer;" id="HideAll">Ẩn tất cả</div>
    <table id="gridItems" class="table table-bordered table-hover">
        <thead>
            <tr role="row">
                <th>Tên (@(Model.ListItem.Count(x=>x.ParentID==0)))</th>
                <th class="text-center wd100">Logo</th>
                <th class="wd150">Sản phẩm</th>
                @if (Attr == true)
                {
                    <th class="wd150">Thuộc tính</th>
                }

                <th class="wd100">Lượt xem</th>
                <th class="wd50">ID</th>
                <th class="wd100">
                    Thứ tự
                    @if (Model.SystemActionAdmin.Order == true)
                    {
                        <a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="Chỉnh sửa số thư tự" class="EditOrderAll badge badge-primary"><span class="lnr lnr-pencil"></span></a>
                        <a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="Lưu số thư tự đã chỉnh sửa" class="SaveAll badge badge-primary" style="display:none;"><i class="glyphicon glyphicon-floppy-disk"></i></a>
                    }
                </th>
                <th class="text-center wd80">Trạng thái</th>
                <th class="act_roles wd150 text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Thao tác <span class="fa fa-caret-down"></span></button>
                        <ul class="dropdown-menu dropdown-action" role="menu">
                            @if (Model.SystemActionAdmin.Active == true)
                            {
                                <li><a href="javascript:" class="showAll"><i class="lnr lnr-checkmark-circle"></i><span>Hiển thị</span></a></li>
                                <li><a href="javascript:" class="hideAll"><i class="lnr lnr-warning"></i><span>Ẩn</span></a></li>
                            }
                            @if (Model.SystemActionAdmin.Delete == true)
                            {
                                <li><a href="javascript:" class="deleteAll"><i class="lnr lnr-trash"></i><span>Xóa</span></a></li>
                            }
                            @if (Model.SystemActionAdmin.Sitemap == true)
                            {
                                <li><a href="javascript:" class="issitemapall"><i class="lnr lnr-checkmark-circle"></i><span>Thêm sitemap</span></a></li>
                                <li><a href="javascript:" class="notsitemapall"><i class="lnr lnr-warning"></i><span>Bỏ sitemap</span></a></li>
                            }
                            @if (Model.SystemActionAdmin.Edit == true)
                            {
                                <li><a href="javascript:" class="updateproducts"><i class="lnr lnr-trash"></i><span>Cập nhất số sản phẩm</span></a></li>
                                <li><a href="javascript:" class="updateattrs"><i class="lnr lnr-trash"></i><span>Cập nhất số thuộc tính</span></a></li>
                            }
                            <li><a href="javascript:" class="resize"><i class="lnr lnr-pencil"></i><span>Resize</span></a></li>
                        </ul>
                    </div>
                </th>
                <th class="text-center wd50">
                    <div class="label-check">
                        <input type="checkbox" id="checkAll" class="minimal checkAll" value="">
                        <label for="checkAll"></label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListItem != null && Model.ListItem.Count > 0)
            {
                if (Model.SearchModel != null && !string.IsNullOrEmpty(Model.SearchModel.keyword))
                {
                    foreach (var item in Model.ListItem.Where(x => x.ParentID == 0))
                    {
                        <tr id="item_@(item.ID)" class="@(item.IsShow != true ? "hid" : string.Empty)@(item.ID == Model.WebsiteModule.ID ? " active" : string.Empty)">
                            <td class="open-child" data-id="@item.ID" data-level="1">
                                <span class="lnr lnr-chevron-down"></span>@Html.Raw(Utility.DisplayShowName(item.Name, item.IsShow))
                                @if (Model.ListItem.Count(x => x.ParentID == item.ID) > 0)
                                {
                                    <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == item.ID)</span>
                                }
                            </td>
                            <td class="text-center">
                                @if (!string.IsNullOrEmpty(item.UrlPicture))
                                {
                                    <img src="@item.UrlPicture" width="50" />

                                    <br />
                                }
                                @if (Model.SystemActionAdmin.Edit == true && item.IsDeleted != true)
                                {
                                    <a href="#@item.ID" class="edit badge badge-info" data-tab="TabAlbum">Sửa</a>
                                }
                            </td>
                            <td>
                                @if ((item.ModuleTypeCode == StaticEnum.Product || item.ModuleTypeCode == StaticEnum.Trademark || item.ModuleTypeCode == StaticEnum.Sale))
                                {
                                    if (item.ParentID == 0)
                                    {
                                        <a href="/Adminadc/Product/Index#BrandID=@item.ID">Sản phẩm (@(item.TotalProducts.HasValue ? item.TotalProducts.Value : 0))</a>
                                    }
                                    else
                                    {
                                        <a href="/Adminadc/Product/Index#ModuleID=@item.ID">Sản phẩm (@(item.TotalProducts.HasValue ? item.TotalProducts.Value : 0))</a>
                                    }
                                }
                            </td>
                            @if (Attr == true)
                            {
                                <td>
                                    @if (Model.SystemActionAdmin.Edit)
                                    {
                                        <a class="edit color-info" href="#@item.ID" data-tab="TabAttr">Đã chọn (@(item.Attributes!=null ? item.Attributes.Count(x=>x.ParentID==0) : 0))</a>
                                    }
                                    else
                                    {
                                        <span>Đã chọn (@(item.Attributes!=null ? item.Attributes.Count(x=>x.ParentID==0) : 0))</span>
                                    }
                                </td>
                            }
                            <td>@(item.TotalViews.HasValue ? item.TotalViews.Value : 0)</td>
                            <td>@item.ID</td>
                            <td>
                                @if (Model.SystemActionAdmin.Order)
                                {
                                    <input type="number" class="InputOrderDisplay form-control" name="OrderDisplay" onchange="changeOrder('@item.ID', this.value)" value="@item.OrderDisplay" disabled />
                                }
                                else
                                {
                                    @item.OrderDisplay
                                }
                            </td>
                            <td class="text-center">
                                @if (Model.SystemActionAdmin.Active == true && item.IsDeleted != true)
                                {
                                    <a href="#@item.ID" class="hiddens" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để @(ConvertUtil.ToBool(item.IsShow)?" Ẩn "+item.Name:" Hiển thị "+item.Name) danh mục">@Html.Raw(StaticEnum.Show(item.IsShow))</a>
                                }
                                else
                                {
                                    @Html.Raw(StaticEnum.Show(item.IsShow))
                                }
                                @if (item.IsDeleted == true)
                                {
                                    <span class='badge badge-default'>Đã xóa</span>
                                }
                            </td>
                            <td class="act_delete">
                                @if (Model.SystemActionAdmin.Add == true && item.IsDeleted != true)
                                {
                                    <a href="#@item.ID" class="add btn" data-tab="" title="Thêm mới">
                                        <span class="lnr lnr-plus-circle"></span>
                                    </a>
                                }
                                @if ((!string.IsNullOrEmpty(item.NameAscii) || !string.IsNullOrEmpty(item.LinkUrl)) && item.IsDeleted != true)
                                {
                                    <a href="@(string.IsNullOrEmpty(item.LinkUrl) ? Utility.Link(item.NameAscii,string.Empty,item.LinkUrl) : item.LinkUrl)" data-toggle="tooltip" data-placement="bottom" target="_blank" class="quickview" title="Đường dẫn xem sản phẩm">
                                        <span class="lnr lnr-eye"></span>
                                    </a>
                                }
                                @if (Model.SystemActionAdmin.Edit == true && item.IsDeleted != true)
                                {
                                    <a href="#@item.ID" class="edit" data-toggle="tooltip" data-tab="" data-placement="bottom" title="Nhấn click để chỉnh sửa sản phẩm">
                                        <span class="lnr lnr-pencil"></span>
                                    </a>
                                }
                                @if (Model.SystemActionAdmin.Delete == true && item.IsDeleted != true)
                                {
                                    <a href="#@item.ID" class="delete" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để xóa sản phẩm">
                                        <span class="lnr lnr-trash"></span>
                                    </a>
                                }
                            </td>
                            <td class="text-center">
                                @if (item.IsDeleted != true)
                                {
                                    <div class="label-check">
                                        <input type="checkbox" data-url="@item.UrlPicture" id="Check@(item.ID)" data-title="@item.Name" class="minimal check" value="@item.ID">
                                        <label for="Check@(item.ID)"></label>
                                    </div>
                                }
                            </td>
                        </tr>
                        foreach (var child in Model.ListItem.Where(x => x.ParentID == item.ID))
                        {
                            <tr id="item_@(child.ID)" class="child-@item.ID level-1@(child.IsShow != true ? " hid" : string.Empty) hide@(child.ID == Model.WebsiteModule.ID ? " active" : string.Empty)" data-id="@item.ID">
                                <td class="open-child" data-id="@child.ID" data-level="2">
                                    @if (Model.ListItem.Count(x => x.ParentID == child.ID) > 0)
                                    {
                                        <span class="lnr lnr-chevron-down"></span>

                                        @Html.Raw(Utility.DisplayShowName(child.Name, child.IsShow))
                                        <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == child.ID)</span>
                                    }
                                    else
                                    {
                                        @Html.Raw(Utility.DisplayShowName(child.Name, child.IsShow))
                                    }
                                </td>
                                <td class="text-center">
                                    <img src="@child.UrlPicture" width="50" /><br />
                                    @if (Model.SystemActionAdmin.Edit == true)
                                    {
                                        <a href="#@child.ID" class="edit badge badge-info" data-tab="TabAlbum">Sửa</a>
                                    }
                                </td>
                                <td>
                                    @if (item.ModuleTypeCode == StaticEnum.Product || item.ModuleTypeCode == StaticEnum.Trademark || item.ModuleTypeCode == StaticEnum.Sale)
                                    {
                                        <a href="/Adminadc/Product/Index#ModuleID=@child.ID">Sản phẩm (@(child.TotalProducts.HasValue ? child.TotalProducts.Value : 0))</a>
                                    }
                                </td>
                                @if (Attr == true)
                                {
                                    <td>
                                        @if (Model.SystemActionAdmin.Edit == true)
                                        {
                                            <a class="edit color-info" href="#@child.ID" data-tab="TabAttr">Đã chọn (@(child.TotalAttributes.HasValue ? child.TotalAttributes.Value : 0))</a>
                                        }
                                        else
                                        {
                                            <span>Đã chọn (@(child.TotalAttributes.HasValue ? child.TotalAttributes.Value : 0))</span>
                                        }
                                    </td>
                                }
                                <td>@(child.TotalViews.HasValue ? child.TotalViews.Value : 0)</td>
                                <td>@child.ID</td>
                                <td>
                                    @if (Model.SystemActionAdmin.Order)
                                    {
                                        <input type="number" class="InputOrderDisplay form-control" name="OrderDisplay" onchange="changeOrder('@child.ID', this.value)" value="@child.OrderDisplay" disabled />
                                    }
                                    else
                                    {
                                        @child.OrderDisplay
                                    }
                                </td>
                                <td class="text-center">
                                    @if (Model.SystemActionAdmin.Active == true)
                                    {
                                        <a href="#@child.ID" class="hiddens" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để @(ConvertUtil.ToBool(child.IsShow)?" Ẩn "+child.Name:" Hiển thị "+child.Name) danh mục">@Html.Raw(StaticEnum.Show(child.IsShow))</a>
                                    }
                                    else
                                    {
                                        @Html.Raw(StaticEnum.Show(child.IsShow))
                                    }
                                </td>
                                <td class="act_delete">
                                    @if (Model.SystemActionAdmin.Add == true)
                                    {
                                        <a href="#@child.ID" class="add btn" title="Thêm mới">
                                            <span class="lnr lnr-plus-circle"></span>
                                        </a>
                                    }
                                    @*<a href="#@child.ID" class="craw-data-module" title="Lấy dữ liệu">
                <span class="lnr lnr-database"></span>
                </a>*@
                                    @if (!string.IsNullOrEmpty(child.NameAscii) || !string.IsNullOrEmpty(child.LinkUrl))
                                    {
                                        <a href="@(string.IsNullOrEmpty(child.LinkUrl) ? Utility.Link(child.NameAscii,string.Empty,child.LinkUrl) : child.LinkUrl)" data-toggle="tooltip" data-placement="bottom" target="_blank" class="quickview" title="Đường dẫn xem danh mục">
                                            <span class="lnr lnr-eye"></span>
                                        </a>
                                    }
                                    @if (Model.SystemActionAdmin.Edit == true)
                                    {
                                        <a href="#@child.ID" class="edit" data-toggle="tooltip" data-tab="" data-placement="bottom" title="Nhấn click để chỉnh sửa">
                                            <span class="lnr lnr-pencil"></span>
                                        </a>
                                    }
                                    @if (Model.SystemActionAdmin.Delete == true)
                                    {
                                        <a href="#@child.ID" class="delete" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để xóa">
                                            <span class="lnr lnr-trash"></span>
                                        </a>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="label-check">
                                        <input type="checkbox" data-url="@child.UrlPicture" id="Check@(child.ID)" data-title="@child.Name" class="minimal check" value="@child.ID">
                                        <label for="Check@(child.ID)"></label>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    foreach (var item in Model.ListItem.Where(x => x.ParentID == 0))
                    {
                        <tr id="item_@(item.ID)" class="@(item.IsShow != true ? "hid" : string.Empty)@(item.ID == Model.WebsiteModule.ID ? " active" : string.Empty)" data-id="@item.ID">
                            <td class="open-child" data-id="@item.ID" data-level="1">
                                <span class="lnr lnr-chevron-down"></span>@Html.Raw(Utility.DisplayShowName(item.Name, item.IsShow))
                                @if (Model.ListItem.Count(x => x.ParentID == item.ID) > 0)
                                {
                                    <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == item.ID)</span>
                                }
                            </td>
                            <td class="text-center">
                                @if (!string.IsNullOrEmpty(item.UrlPicture))
                                {
                                    <img src="@item.UrlPicture" width="50" />

                                    <br />
                                }
                                @if (Model.SystemActionAdmin.Edit == true)
                                {
                                    <a href="#@item.ID" class="edit badge badge-info" data-tab="TabAlbum">Sửa</a>
                                }
                            </td>
                            <td>
                                @if (item.ModuleTypeCode == StaticEnum.Product || item.ModuleTypeCode == StaticEnum.Trademark || item.ModuleTypeCode == StaticEnum.Sale)
                                {
                                    <a href="/Adminadc/Product/Index#BrandID=@item.ID">Sản phẩm (@(item.TotalProducts.HasValue ? item.TotalProducts.Value : 0))</a>
                                }
                            </td>
                            @if (Attr == true)
                            {
                                <td>
                                    @if (Model.SystemActionAdmin.Edit == true)
                                    {
                                        <a class="edit color-info" href="#@item.ID" data-tab="TabAttr">Đã chọn (@(item.TotalAttributes.HasValue ? item.TotalAttributes.Value : 0))</a>
                                    }
                                    else
                                    {
                                        <span>Đã chọn (@(item.TotalAttributes.HasValue ? item.TotalAttributes.Value : 0))</span>
                                    }
                                </td>
                            }
                            <td>@(item.TotalViews.HasValue ? item.TotalViews.Value : 0)</td>
                            <td>@item.ID</td>
                            <td>
                                @if (Model.SystemActionAdmin.Order)
                                {
                                    <input type="number" class="InputOrderDisplay form-control" name="OrderDisplay" onchange="changeOrder('@item.ID', this.value)" value="@item.OrderDisplay" disabled />
                                }
                                else
                                {
                                    @item.OrderDisplay
                                }
                            </td>
                            <td class="text-center">
                                @if (Model.SystemActionAdmin.Active == true)
                                {
                                    <a href="#@item.ID" class="hiddens" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để @(ConvertUtil.ToBool(item.IsShow)?" Ẩn "+item.Name:" Hiển thị "+item.Name) danh mục">@Html.Raw(StaticEnum.Show(item.IsShow))</a>
                                }
                                else
                                {
                                    @Html.Raw(StaticEnum.Show(item.IsShow))
                                }
                            </td>
                            <td class="act_delete">
                                @if (Model.SystemActionAdmin.Add == true)
                                {
                                    <a href="#@item.ID" class="add btn" title="Thêm mới">
                                        <span class="lnr lnr-plus-circle"></span>
                                    </a>
                                }
                                @if (!string.IsNullOrEmpty(item.NameAscii) || !string.IsNullOrEmpty(item.LinkUrl))
                                {
                                    <a href="@(string.IsNullOrEmpty(item.LinkUrl) ? Utility.Link(item.NameAscii,string.Empty,item.LinkUrl) : item.LinkUrl)" data-toggle="tooltip" data-placement="bottom" target="_blank" class="quickview" title="Đường dẫn xem sản phẩm">
                                        <span class="lnr lnr-eye"></span>
                                    </a>
                                }
                                @if (Model.SystemActionAdmin.Edit == true)
                                {
                                    <a href="#@item.ID" class="edit" data-toggle="tooltip" data-tab="" data-placement="bottom" title="Nhấn click để chỉnh sửa sản phẩm">
                                        <span class="lnr lnr-pencil"></span>
                                    </a>
                                }
                                @if (Model.SystemActionAdmin.Delete == true)
                                {
                                    <a href="#@item.ID" class="delete" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để xóa sản phẩm">
                                        <span class="lnr lnr-trash"></span>
                                    </a>
                                }
                            </td>
                            <td class="text-center">
                                <div class="label-check">
                                    <input type="checkbox" data-url="@item.UrlPicture" id="Check@(item.ID)" data-title="@item.Name" class="minimal check" value="@item.ID">
                                    <label for="Check@(item.ID)"></label>
                                </div>
                            </td>
                        </tr>
                        foreach (var child in Model.ListItem.Where(x => x.ParentID == item.ID).OrderBy(x => x.OrderDisplay))
                        {
                            <tr id="item_@(child.ID)" class="child-@item.ID level-1@(child.IsShow != true ? " hid" : string.Empty) hide@(child.ID == Model.WebsiteModule.ID ? " active" : string.Empty)" data-id="@item.ID">
                                <td class="open-child" data-id="@child.ID" data-level="2">
                                    @if (Model.ListItem.Count(x => x.ParentID == child.ID) > 0)
                                    {
                                        <span class="lnr lnr-chevron-down"></span>

                                        @Html.Raw(Utility.DisplayShowName(child.Name, child.IsShow))
                                        <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == child.ID)</span>
                                    }
                                    else
                                    {
                                        @Html.Raw(Utility.DisplayShowName(child.Name, child.IsShow))
                                    }
                                </td>
                                <td class="text-center">
                                    <img src="@child.UrlPicture" width="50" /><br />
                                    @if (Model.SystemActionAdmin.Edit == true)
                                    {
                                        <a href="#@child.ID" class="edit badge badge-info" data-tab="TabAlbum">Sửa</a>
                                    }
                                </td>
                                <td>
                                    @if (item.ModuleTypeCode == StaticEnum.Product || item.ModuleTypeCode == StaticEnum.Trademark || item.ModuleTypeCode == StaticEnum.Sale)
                                    {
                                        <a href="/Adminadc/Product/Index#ModuleID=@child.ID">Sản phẩm (@(child.TotalProducts.HasValue ? child.TotalProducts.Value : 0))</a>
                                    }
                                </td>
                                @if (Attr == true)
                                {
                                    <td>
                                        @if (Model.SystemActionAdmin.Edit == true)
                                        {
                                            <a class="edit color-info" href="#@child.ID" data-tab="TabAttr">Đã chọn (@(child.TotalAttributes.HasValue ? child.TotalAttributes.Value : 0))</a>
                                        }
                                        else
                                        {
                                            <span>Đã chọn (@(child.TotalAttributes.HasValue ? child.TotalAttributes.Value : 0))</span>
                                        }
                                    </td>
                                }
                                <td>@(child.TotalViews.HasValue ? child.TotalViews.Value : 0)</td>
                                <td>@child.ID</td>
                                <td>
                                    @if (Model.SystemActionAdmin.Order)
                                    {
                                        <input type="number" class="InputOrderDisplay form-control" name="OrderDisplay" onchange="changeOrder('@child.ID', this.value)" value="@child.OrderDisplay" disabled />
                                    }
                                    else
                                    {
                                        @child.OrderDisplay
                                    }
                                </td>
                                <td class="text-center">
                                    @if (Model.SystemActionAdmin.Active == true)
                                    {
                                        <a href="#@child.ID" class="hiddens" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để @(ConvertUtil.ToBool(child.IsShow)?" Ẩn "+child.Name:" Hiển thị "+child.Name) danh mục">@Html.Raw(StaticEnum.Show(child.IsShow))</a>
                                    }
                                    else
                                    {
                                        @Html.Raw(StaticEnum.Show(child.IsShow))
                                    }
                                </td>
                                <td class="act_delete">
                                    @if (Model.SystemActionAdmin.Add == true)
                                    {
                                        <a href="#@child.ID" class="add btn" title="Thêm mới">
                                            <span class="lnr lnr-plus-circle"></span>
                                        </a>
                                    }
                                    @*@if (!string.IsNullOrEmpty(child.NameAscii) || !string.IsNullOrEmpty(child.LinkUrl))
                {
                <a href="@(string.IsNullOrEmpty(child.LinkUrl) ? Utility.Link(child.NameAscii,string.Empty,child.LinkUrl) : child.LinkUrl)" data-toggle="tooltip" data-placement="bottom" target="_blank" class="quickview" title="Đường dẫn xem danh mục">
                <span class="lnr lnr-eye"></span>
                </a>
                }*@
                                    @if (Model.SystemActionAdmin.Edit == true)
                                    {
                                        <a href="#@child.ID" class="edit" data-toggle="tooltip" data-tab="" data-placement="bottom" title="Nhấn click để chỉnh sửa">
                                            <span class="lnr lnr-pencil"></span>
                                        </a>
                                    }
                                    @if (Model.SystemActionAdmin.Delete)
                                    {
                                        <a href="#@child.ID" class="delete" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để xóa">
                                            <span class="lnr lnr-trash"></span>
                                        </a>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="label-check">
                                        <input type="checkbox" data-url="@child.UrlPicture" id="Check@(child.ID)" data-title="@child.Name" class="minimal check" value="@child.ID">
                                        <label for="Check@(child.ID)"></label>
                                    </div>
                                </td>
                            </tr>
                            foreach (var child2 in Model.ListItem.Where(x => x.ParentID == child.ID).OrderBy(x => x.OrderDisplay))
                            {
                                <tr id="item_@(child2.ID)" class="child-@child.ID level-2@(child2.IsShow != true ? " hid" : string.Empty) hide@(child2.ID == Model.WebsiteModule.ID ? " active" : string.Empty)" data-id="@child.ID">
                                    <td class="open-child" data-id="@child2.ID">
                                        <span class="lnr lnr-chevron-down"></span>@Html.Raw(Utility.DisplayShowName(child2.Name, child2.IsShow))
                                        @if (Model.ListItem.Count(x => x.ParentID == child2.ID) > 0)
                                        {
                                            <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == child2.ID)</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <img src="@child2.UrlPicture" width="50" /><br />
                                        @if (Model.SystemActionAdmin.Edit)
                                        {
                                            <a href="#@child2.ID" class="edit badge badge-info" data-tab="TabAlbum">Sửa</a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.ModuleTypeCode == StaticEnum.Product || item.ModuleTypeCode == StaticEnum.Trademark || item.ModuleTypeCode == StaticEnum.Sale)
                                        {
                                            <a href="/Adminadc/Product/Index#ModuleID=@child2.ID">Sản phẩm (@(child.TotalProducts.HasValue ? child.TotalProducts.Value : 0))</a>
                                        }
                                    </td>
                                    @if (Attr == true)
                                    {
                                        <td>
                                            @if (Model.SystemActionAdmin.Edit)
                                            {
                                                <a class="edit color-info" href="#@child2.ID" data-tab="TabAttr">Đã chọn (@(child2.TotalAttributes.HasValue ? child2.TotalAttributes.Value : 0))</a>
                                            }
                                            else
                                            {
                                                <span>Đã chọn (@(child2.TotalAttributes.HasValue ? child2.TotalAttributes.Value : 0))</span>
                                            }
                                        </td>
                                    }
                                    <td>@(child2.TotalViews.HasValue ? child2.TotalViews.Value : 0)</td>
                                    <td>@child2.ID</td>
                                    <td>
                                        @if (Model.SystemActionAdmin.Order)
                                        {
                                            <input type="number" class="InputOrderDisplay form-control" name="OrderDisplay" onchange="changeOrder('@child2.ID', this.value)" value="@child2.OrderDisplay" disabled />
                                        }
                                        else
                                        {
                                            @child2.OrderDisplay
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (Model.SystemActionAdmin.Active)
                                        {
                                            <a href="#@child2.ID" class="hiddens" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để @(ConvertUtil.ToBool(child2.IsShow)?" Ẩn "+child2.Name:" Hiển thị "+child2.Name) danh mục">@Html.Raw(StaticEnum.Show(child2.IsShow))</a>
                                        }
                                        else
                                        {
                                            @Html.Raw(StaticEnum.Show(child2.IsShow))
                                        }
                                    </td>
                                    <td class="act_delete">
                                        @if (Model.SystemActionAdmin.Add)
                                        {
                                            <a href="#@child2.ID" class="add btn" title="Thêm mới">
                                                <span class="lnr lnr-plus-circle"></span>
                                            </a>
                                        }
                                        @*@if (!string.IsNullOrEmpty(child2.NameAscii) || !string.IsNullOrEmpty(child2.LinkUrl))
                {
                <a href="@(string.IsNullOrEmpty(child2.LinkUrl) ? Utility.Link(child2.NameAscii,string.Empty,child2.LinkUrl) : child2.LinkUrl)" data-toggle="tooltip" data-placement="bottom" target="_blank" class="quickview" title="Đường dẫn xem danh mục">
                <span class="lnr lnr-eye"></span>
                </a>
                }*@
                                        @if (Model.SystemActionAdmin.Edit)
                                        {
                                            <a href="#@child2.ID" class="edit" data-toggle="tooltip" data-tab="" data-placement="bottom" title="Nhấn click để chỉnh sửa">
                                                <span class="lnr lnr-pencil"></span>
                                            </a>
                                        }
                                        @if (Model.SystemActionAdmin.Delete)
                                        {
                                            <a href="#@child2.ID" class="delete" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để xóa">
                                                <span class="lnr lnr-trash"></span>
                                            </a>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <div class="label-check">
                                            <input type="checkbox" data-url="@child2.UrlPicture" id="Check@(child2.ID)" data-title="@child2.Name" class="minimal check" value="@child2.ID">
                                            <label for="Check@(child2.ID)"></label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            }
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            registerGridView("#gridItems");
            $('.open-child').click(function() {
                var id = $(this).data('id');
                if ($(this).hasClass('active')) {
                    $('.child-' + id).addClass('hide');
                    $('.child-' + id + ' .open-child').removeClass('active');
                    $(this).removeClass('active');
                }
                else {
                    var lvel = $(this).data('level');
                    $('.child-' + id + '.level-' + lvel).removeClass('hide');
                    $(this).addClass('active');
                }
            });
            $('#ShowAll').click(function() {
                $("tr[class^='child-']").removeClass('hide');
                $('table tr td').addClass('active');
            });
            $('#HideAll').click(function() {
                $("tr[class^='child-']").addClass('hide');
                $('table tr td').removeClass('active');
            });
            $('.craw-data-module').click(function(e) {
                var id = $(this).attr("href").substring(1)
                e.preventDefault();
                ModalADC.Open({
                    title: "Lấy dữ liệu",
                    urlLoad: '/Adminadc/Product/AjaxCrawlModule?ModuleId=' + id,
                    bottom: false
                });
            });
            $('.updateproducts').click(function(e) {
                e.preventDefault();
                $("#gridItems input.check[type='checkbox']:checked").not("#checkAll").not(".checkAll").each(function() {
                    var thisurl = $(this).val();
                    var url = "/Adminadc/WebsiteModule/UpdateTotalProducts?id=" + thisurl;
                    $.ajax({
                        url: encodeURI(url), cache: false, type: "Post",
                        success: function(data) {
                            var sc = $('#status-success').text();
                            var total = $('#status-total').text();
                            $('#status-success').text(parseInt(sc) + 1);
                            $('#status-total').text(parseInt(total) + 1);
                        },
                        error: function(data) {
                            var total = $('#status-total').text();
                            $('#status-total').text(parseInt(total) + 1);
                        }
                    });
                });
                $(this).parents('.btn-group').removeClass('open');
                return false;
            });
            $('.updateattrs').click(function(e) {
                e.preventDefault();
                $("#gridItems input.check[type='checkbox']:checked").not("#checkAll").not(".checkAll").each(function() {
                    var thisurl = $(this).val();
                    var url = "/Adminadc/WebsiteModule/UpdateTotalAttributes?id=" + thisurl;
                    $.ajax({
                        url: encodeURI(url), cache: false, type: "Post",
                        success: function(data) {
                            var sc = $('#status-success').text();
                            var total = $('#status-total').text();
                            $('#status-success').text(parseInt(sc) + 1);
                            $('#status-total').text(parseInt(total) + 1);
                        },
                        error: function(data) {
                            var total = $('#status-total').text();
                            $('#status-total').text(parseInt(total) + 1);
                        }
                    });
                });
                $(this).parents('.btn-group').removeClass('open');
                return false;
            });
        });
    </script>
    <style>
        #gridItems tr td:first-child { font-weight: 600; }
        .level-1 td:nth-child(1) { padding-left: 22px; }
        .level-2 td:nth-child(1) { padding-left: 41px; }
        .level-3 td:nth-child(1) { padding-left: 60px; }
        #gridItems tr td.active:first-child .badge { display: none; }
        .lnr-chevron-down, .open-child { cursor: pointer; margin-right: 5px; }
    </style>
    @if (Model.WebsiteModule.ID > 0)
    {
        <script>
            $(function() {
                var item = $('#item_@(Model.WebsiteModule.ID)');
                if (item.length > 0) {
                    window.scrollTo(0, item.offset().top);
                }
            });
        </script>
    }
    <script>
        $(function() {
            $('table tbody tr.active').each(function() {
                var id = $(this).data('id');
                $('.child-' + id).removeClass('hide');
                var parent = $('#item_' + id).data('id');
                $('.child-' + parent).removeClass('hide');
            });
            $('input[name=Keyword]').val('@Html.Raw(Model.SearchModel.keyword)');
            $('#Show option[value="@Model.SearchModel.Show"]').attr('selected', 'selected');
        });
    </script>
}
