@model ModuleViewModels
@using ADCOnline.Utils
@{
    Layout = null;
}


@if (Model.ListProductItemJson.Any())
{
    foreach (var item in Model.ListProductItemJson)
    {
        <div class="item item-product-new main">
            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
            </a>
            <div class="text">
                <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="name">
                    @item.Name
                </a>
                @if (!string.IsNullOrEmpty(item.ProductCode))
                {
                    <div class="code">
                        <p>@ResourceData.Resource("Ma", ViewBag.Lang): @item.ProductCode</p>
                    </div>
                }
                <div class="p-price">
                    @if (item.PriceOld.HasValue && item.PriceOld > 0)
                    {
                        <p class="price-old">@Utility.GetFormatPriceType(item.PriceOld,1,"",true)</p>
                    }
                    <p class="price"><strong>@Utility.GetFormatPriceType(item.Price,1,ResourceData.Resource("LienHe", ViewBag.Lang),true)</strong></p>
                </div>
            </div>
        </div>
    }
    @if (Model.Total > Model.PageSize)
    {
        @Html.Raw(ViewBag.GridHtml)
    }
}
else
{
    <p class="update">@ResourceData.Resource("KhongCoSanPham", ViewBag.Lang)</p>
}