@model Website.Areas.Admin.ViewModels.WebsiteModuleViewModel
@using ADCOnline.Utils
@if (Model.SystemActionAdmin.View)
{
    <div class="badge badge-info" style="margin-bottom:10px;cursor:pointer;" id="ShowAll">Xem hết danh mục</div>
    <table id="gridItems" class="table table-bordered table-striped table-hover">
        <thead>
            <tr role="row">
                <th class="wd50"></th>
                <th>Tên</th>
                <th class="wd150">Kiểu hiển thị</th>
                <th class="wd150">Sản phẩm</th>
                @*<th class="wd150">Thuộc tính</th>*@
                <th class="wd100">Lượt xem</th>
                <th class="wd50">ID</th>
                <th class="wd100">
                    Thứ tự
                    @if (Model.SystemActionAdmin.Order == true)
                    {
                        <a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="Chỉnh sửa số thư tự" class="EditOrderAll badge badge-primary"><span class="lnr lnr-pencil"></span></a>
                        <a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="Lưu số thư tự đã chỉnh sửa" class="SaveAll badge badge-primary" style="display:none;"><i class="glyphicon glyphicon-floppy-disk"></i></a>
                    }
                </th>
                <th class="text-center wd80">Trạng thái</th>
                <th class="act_roles wd200 text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Thao tác <span class="fa fa-caret-down"></span></button>
                        <ul class="dropdown-menu dropdown-action" role="menu">
                            @if (Model.SystemActionAdmin.Active == true)
                            {
                                <li><a href="javascript:" class="showAll"><i class="lnr lnr-checkmark-circle"></i><span>Hiển thị</span></a></li>
                                <li><a href="javascript:" class="hideAll"><i class="lnr lnr-warning"></i><span>Ẩn</span></a></li>
                            }
                            @if (Model.SystemActionAdmin.Delete == true)
                            {
                                <li><a href="javascript:" class="deleteAll"><i class="lnr lnr-trash"></i><span>Xóa</span></a></li>
                            }
                            @if (Model.SystemActionAdmin.Sitemap == true)
                            {
                                <li><a href="javascript:" class="issitemapall"><i class="lnr lnr-checkmark-circle"></i><span>Thêm sitemap</span></a></li>
                                <li><a href="javascript:" class="notsitemapall"><i class="lnr lnr-warning"></i><span>Bỏ sitemap</span></a></li>
                            }
                        </ul>
                    </div>
                </th>
                <th class="text-center wd50">
                    <div class="label-check">
                        <input type="checkbox" id="checkAll" class="minimal checkAll" value="">
                        <label for="checkAll"></label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListItem != null && Model.ListItem.Count > 0)
            {
                foreach (var item in Model.ListItem.Where(x => x.ParentID == 0))
                {
                    <tr class="@(item.IsShow != true ? "hid" : string.Empty)">
                        <td class="text-center"><span class="lnr lnr-enter" data-id="@item.ID"></span></td>
                        <td>
                            @if (Model.SystemActionAdmin.Edit == true)
                            {
                                <a href="#@item.ID" class="edit" data-tab="">
                                    @Html.Raw(Utility.DisplayShowName(item.Name, item.IsShow))
                                    @if (Model.ListItem.Count(x => x.ParentID == item.ID) > 0)
                                    {
                                        <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == item.ID)</span>
                                    }
                                </a>
                            }
                            else
                            {
                                @Html.Raw(Utility.DisplayShowName(item.Name, item.IsShow))
                                @if (Model.ListItem.Count(x => x.ParentID == item.ID) > 0)
                                {
                                    <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == item.ID)</span>
                                }
                            }
                        </td>
                        <td class="wd150">@item.ModuleType</td>
                        <td>
                            @if (item.ModuleTypeCode == StaticEnum.Product || item.ModuleTypeCode == StaticEnum.Trademark || item.ModuleTypeCode == StaticEnum.Sale)
                            {
                                <a href="/Adminadc/Product/Index#ModuleId=@item.ID">Sản phẩm (@(item.TotalProduct.HasValue ? item.TotalProduct.Value : 0))</a>
                            }
                            else
                            {
                                <a href="/Adminadc/WebsiteContent/Index#ModuleId=@item.ID">Bài viết (@(item.TotalContent.HasValue ? item.TotalContent.Value : 0))</a>
                            }
                        </td>
                        @*<td>
                            @if (Model.SystemActionAdmin.Edit == true)
                            {
                                <a class="edit color-info" href="#@item.ID" data-tab="TabAttr">Đã chọn (@(item.Attributes!=null ? item.Attributes.Count(x=>x.ParentID==0) : 0))</a>
                            }
                        </td>*@
                        <td>@(item.TotalViews.HasValue ? item.TotalViews.Value : 0)</td>
                        <td>@item.ID</td>
                        <td>
                            @if (Model.SystemActionAdmin.Order)
                            {
                                <input type="number" class="InputOrderDisplay form-control" name="OrderDisplay" onchange="changeOrder('@item.ID', this.value)" value="@item.OrderDisplay" disabled />
                            }
                            else
                            {
                                @item.OrderDisplay
                            }
                        </td>
                        <td class="text-center">
                            @if (Model.SystemActionAdmin.Active == true)
                            {
                                <a href="#@item.ID" class="@(ConvertUtil.ToBool(item.IsShow)==true?"hiddens":"show")" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để @(ConvertUtil.ToBool(item.IsShow)?" Ẩn "+item.Name:" Hiển thị "+item.Name) danh mục">@Html.Raw(StaticEnum.Show(item.IsShow))</a>
                            }
                            else
                            {
                                @Html.Raw(StaticEnum.Show(item.IsShow))
                            }
                            @if (Model.SystemActionAdmin.Active == true)
                            {
                                <a href="#@item.ID" class="sitemaps">@Html.Raw(StaticEnum.Sitemap(item.IsSitemap))</a>
                            }
                            else
                            {
                                @Html.Raw(StaticEnum.Sitemap(item.IsSitemap))
                            }
                        </td>
                        <td class="act_delete">
                            @if (Model.SystemActionAdmin.Add == true)
                            {
                                <a href="#@item.ID" class="add btn" title="Thêm mới">
                                    <span class="lnr lnr-plus-circle"></span>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(item.NameAscii) || !string.IsNullOrEmpty(item.LinkUrl))
                            {
                                <a href="@(string.IsNullOrEmpty(item.LinkUrl) ? Utility.Link(item.NameAscii,string.Empty,item.LinkUrl) : item.LinkUrl)" data-toggle="tooltip" data-placement="bottom" target="_blank" class="quickview" title="Đường dẫn xem sản phẩm">
                                    <span class="lnr lnr-eye"></span>
                                </a>
                            }
                            @if (Model.SystemActionAdmin.Edit == true)
                            {
                                <a href="#@item.ID" class="edit" data-toggle="tooltip" data-tab="" data-placement="bottom" title="Nhấn click để chỉnh sửa">
                                    <span class="lnr lnr-pencil"></span>
                                </a>
                            }
                            @if (Model.SystemActionAdmin.Delete == true)
                            {
                                <a href="#@item.ID" class="delete" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để xóa">
                                    <span class="lnr lnr-trash"></span>
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            <div class="label-check">
                                <input type="checkbox" id="Check@(item.ID)" data-title="@item.Name" class="minimal check" value="@item.ID">
                                <label for="Check@(item.ID)"></label>
                            </div>
                        </td>
                    </tr>
                    foreach (var child in Model.ListItem.Where(x => x.ParentID == item.ID).OrderBy(x => x.OrderDisplay))
                    {
                        <tr class="child-@item.ID level-1@(child.IsShow != true ? " hid" : string.Empty) hide">
                            <td></td>
                            <td>
                                @if (Model.SystemActionAdmin.Edit == true)
                                {
                                    <a href="#@child.ID" class="edit" data-tab="">
                                        @Html.Raw(Utility.DisplayShowName(child.Name, child.IsShow))
                                    </a>
                                    @if (Model.ListItem.Count(x => x.ParentID == child.ID) > 0)
                                    {
                                        <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == child.ID)</span>
                                    }
                                }
                                else
                                {
                                    @Html.Raw(Utility.DisplayShowName(child.Name, child.IsShow))
                                    if (Model.ListItem.Count(x => x.ParentID == child.ID) > 0)
                                    {
                                        <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == child.ID)</span>
                                    }
                                }
                            </td>
                            <td class="wd150">@child.ModuleType</td>
                            <td>
                                @if (item.ModuleTypeCode == StaticEnum.Product || item.ModuleTypeCode == StaticEnum.Trademark || item.ModuleTypeCode == StaticEnum.Sale)
                                {
                                    <a href="/Adminadc/Product/Index#ModuleId=@item.ID">Sản phẩm (@(child.TotalProduct.HasValue ? child.TotalProduct.Value : 0))</a>
                                }
                                else
                                {
                                    <a href="/Adminadc/WebsiteContent/Index#ModuleId=@item.ID">Bài viết (@(child.TotalContent.HasValue ? child.TotalContent.Value : 0))</a>
                                }
                            </td>
                            <td>
                                @if (Model.SystemActionAdmin.Edit == true)
                                {
                                    <a class="edit" href="#@child.ID" data-tab="TabAttr">Đã chọn (@(child.Attributes!=null ? child.Attributes.Count(x=>x.ParentID==0) : 0))</a>
                                }
                                else
                                {
                                    <span>Đã chọn (@(child.Attributes!=null ? child.Attributes.Count(x=>x.ParentID==0) : 0))</span>
                                }
                            </td>
                            <td>@(child.TotalViews.HasValue ? child.TotalViews.Value : 0)</td>
                            <td>@child.ID</td>
                            <td>
                                @if (Model.SystemActionAdmin.Order)
                                {
                                    <input type="number" class="InputOrderDisplay form-control" name="OrderDisplay" onchange="changeOrder('@child.ID', this.value)" value="@child.OrderDisplay" disabled />
                                }
                                else
                                {
                                    @child.OrderDisplay
                                }
                            </td>
                            <td class="text-center">
                                @if (Model.SystemActionAdmin.Active == true)
                                {
                                    <a href="#@child.ID" class="@(ConvertUtil.ToBool(child.IsShow)==true?"hiddens":"show")" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để @(ConvertUtil.ToBool(child.IsShow)?" Ẩn "+child.Name:" Hiển thị "+child.Name) danh mục">@Html.Raw(StaticEnum.Show(child.IsShow))</a>
                                }
                                else
                                {
                                    @Html.Raw(StaticEnum.Show(child.IsShow))
                                }
                            </td>
                            <td class="act_delete">
                                @if (Model.SystemActionAdmin.Add == true)
                                {
                                    <a href="#@child.ID" class="add btn" title="Thêm mới">
                                        <span class="lnr lnr-plus-circle"></span>
                                    </a>
                                }
                                @if (!string.IsNullOrEmpty(child.NameAscii) || !string.IsNullOrEmpty(child.LinkUrl))
                                {
                                    <a href="@(string.IsNullOrEmpty(child.LinkUrl) ? Utility.Link(child.NameAscii,string.Empty,child.LinkUrl) : child.LinkUrl)" data-toggle="tooltip" data-placement="bottom" target="_blank" class="quickview" title="Đường dẫn xem danh mục">
                                        <span class="lnr lnr-eye"></span>
                                    </a>
                                }
                                @if (Model.SystemActionAdmin.Edit == true)
                                {
                                    <a href="#@child.ID" class="edit" data-toggle="tooltip" data-tab="" data-placement="bottom" title="Nhấn click để chỉnh sửa">
                                        <span class="lnr lnr-pencil"></span>
                                    </a>
                                }
                                @if (Model.SystemActionAdmin.Delete == true)
                                {
                                    <a href="#@child.ID" class="delete" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để xóa">
                                        <span class="lnr lnr-trash"></span>
                                    </a>
                                }
                            </td>
                            <td class="text-center">
                                <div class="label-check">
                                    <input type="checkbox" id="Check@(child.ID)" data-title="@child.Name" class="minimal check" value="@child.ID">
                                    <label for="Check@(child.ID)"></label>
                                </div>
                            </td>
                        </tr>
                        foreach (var child2 in Model.ListItem.Where(x => x.ParentID == child.ID).OrderBy(x => x.OrderDisplay))
                        {
                            <tr class="child-@item.ID level-2@(child2.IsShow != true ? " hid" : string.Empty) hide">
                                <td></td>
                                <td>
                                    @if (Model.SystemActionAdmin.Edit)
                                    {
                                        <a href="#@child2.ID" class="edit" data-tab="">
                                            - @Html.Raw(Utility.DisplayShowName(child2.Name, child2.IsShow))
                                            @if (Model.ListItem.Count(x => x.ParentID == child2.ID) > 0)
                                            {
                                                <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == child2.ID)</span>
                                            }
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.Raw(Utility.DisplayShowName(child2.Name, child2.IsShow))
                                        if (Model.ListItem.Count(x => x.ParentID == child2.ID) > 0)
                                        {
                                            <span class="badge badge-danger" style="margin-left:5px;">@Model.ListItem.Count(x => x.ParentID == child2.ID)</span>
                                        }
                                    }
                                </td>
                                <td class="wd150">@child2.ModuleType</td>
                                <td>
                                    @if (item.ModuleTypeCode == StaticEnum.Product || item.ModuleTypeCode == StaticEnum.Trademark || item.ModuleTypeCode == StaticEnum.Sale)
                                    {
                                        <a href="/Adminadc/Product/Index#ModuleId=@item.ID">Sản phẩm (@(child.TotalProduct.HasValue ? child.TotalProduct.Value : 0))</a>
                                    }
                                    else
                                    {
                                        <a href="/Adminadc/WebsiteContent/Index#ModuleId=@item.ID">Bài viết (@(child.TotalContent.HasValue ? child.TotalContent.Value : 0))</a>
                                    }
                                </td>
                                <td><a class="edit" href="#@child2.ID" data-tab="TabAttr">Đã chọn (@(child2.Attributes!=null ? child2.Attributes.Count(x=>x.ParentID==0) : 0))</a></td>
                                <td>@(child2.TotalViews.HasValue ? child2.TotalViews.Value : 0)</td>
                                <td>@child2.ID</td>
                                <td>
                                    @if (Model.SystemActionAdmin.Order)
                                    {
                                        <input type="number" class="InputOrderDisplay form-control" name="OrderDisplay" onchange="changeOrder('@child2.ID', this.value)" value="@child2.OrderDisplay" disabled />
                                    }
                                    else
                                    {
                                        @child2.OrderDisplay
                                    }
                                </td>
                                <td class="text-center">
                                    @if (Model.SystemActionAdmin.Active)
                                    {
                                        <a href="#@child2.ID" class="@(ConvertUtil.ToBool(child2.IsShow)==true?"hiddens":"show")" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để @(ConvertUtil.ToBool(child2.IsShow)?" Ẩn "+child2.Name:" Hiển thị "+child2.Name) danh mục">@Html.Raw(StaticEnum.Show(child2.IsShow))</a>
                                    }
                                    else
                                    {
                                        @Html.Raw(StaticEnum.Show(child2.IsShow))
                                    }
                                </td>
                                <td class="act_delete">
                                    @if (Model.SystemActionAdmin.Add)
                                    {
                                        <a href="#@child2.ID" class="add btn" title="Thêm mới">
                                            <span class="lnr lnr-plus-circle"></span>
                                        </a>
                                    }
                                    @if (!string.IsNullOrEmpty(child2.NameAscii) || !string.IsNullOrEmpty(child2.LinkUrl))
                                    {
                                        <a href="@(string.IsNullOrEmpty(child2.LinkUrl) ? Utility.Link(child2.NameAscii,string.Empty,child2.LinkUrl) : child2.LinkUrl)" data-toggle="tooltip" data-placement="bottom" target="_blank" class="quickview" title="Đường dẫn xem danh mục">
                                            <span class="lnr lnr-eye"></span>
                                        </a>
                                    }
                                    @if (Model.SystemActionAdmin.Edit)
                                    {
                                        <a href="#@child2.ID" class="edit" data-toggle="tooltip" data-tab="" data-placement="bottom" title="Nhấn click để chỉnh sửa">
                                            <span class="lnr lnr-pencil"></span>
                                        </a>
                                    }
                                    @if (Model.SystemActionAdmin.Delete)
                                    {
                                        <a href="#@child2.ID" class="delete" data-toggle="tooltip" data-placement="bottom" title="Nhấn click để xóa">
                                            <span class="lnr lnr-trash"></span>
                                        </a>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="label-check">
                                        <input type="checkbox" id="Check@(child2.ID)" data-title="@child2.Name" class="minimal check" value="@child2.ID">
                                        <label for="Check@(child2.ID)"></label>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            registerGridView("#gridItems");
            $('.lnr-enter').click(function() {
                var id = $(this).data('id');
                $('.child-' + id).toggleClass('hide');
            });
            $('#ShowAll').click(function() {
                $("tr[class^='child-']").toggleClass('hide');
            });
        });
    </script>
    <style>
        .level-2 td:nth-child(2) { padding-left: 15px; }
        .lnr-enter { cursor: pointer; }
    </style>
}
