@model ContentViewModels
@using ADCOnline.Simple.Item
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ContentItem != null)
    {
        ViewBag.Title = !string.IsNullOrEmpty(Model.ContentItem.SEOTitle) ? Model.ContentItem.SEOTitle : Model.ContentItem.Name;
        ViewBag.Name = Model.ContentItem.Name;
        ViewBag.Description = !string.IsNullOrEmpty(Model.ContentItem.SeoDescription) ? Model.ContentItem.SeoDescription : Model.ContentItem.Name;
        ViewBag.Keywords = !string.IsNullOrEmpty(Model.ContentItem.SeoKeyword) ? Model.ContentItem.SeoKeyword : Model.ContentItem.Name;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ContentItem.UrlPicture) ? Model.ContentItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ContentItem.SEOTitle) ? Model.ContentItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ContentItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ContentItem.Canonical) ? Model.ContentItem.Canonical : string.Empty;
    ViewBag.IsSchema = false;
}
@if (Model.ContentItem != null)
{
    <div class="breadcrumb mt-top">
        <div class="container">
            <ul>
                <li>
                    <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">@ResourceData.Resource("TrangChu",ViewBag.Lang)</a><i class="fa-solid fa-angle-right"></i>
                </li>
                <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
                <li>@Model.ModuleItem.Name</li>
            </ul>
        </div>
    </div>
    <div class="build-detail-page container">
        <h1 class="title">@Model.ContentItem.Name</h1>
        @if (!string.IsNullOrEmpty(Model.ContentItem.Address))
        {
            <div class="text-bottom">@Model.ContentItem.Address</div>
        }
        <div class="layout-1">
            <div class="left">
                <div class="list-build-img owl-carousel owl-theme">
                    @foreach (var adv in Model.ContentItem.AlbumGalleryItems.Where(x => x.AlbumType == 0))
                    {
                        <div class="item">
                            <img src="@adv.AlbumUrl" alt="@(!string.IsNullOrEmpty(adv.AlbumTitle) ? adv.AlbumTitle : Model.ContentItem.Name)" />
                        </div>
                    }
                </div>
                <div class="text detail-content">
                    @if (!string.IsNullOrEmpty(Model.ContentItem.Content))
                    {
                        @Html.Raw(Model.ContentItem.Content)
                    }
                    else
                    {
                        <p class="update">
                            @ResourceData.Resource("DangCapNhat", ViewBag.Lang)
                        </p>
                    }
                </div>
                <div class="like-social">
                    <div class="fb-like" data-href="@url" data-width="" data-layout="button_count" data-action="" data-size="" data-share="false"></div>
                    <div class="social">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=@url" target="_blank" rel="nofollow" class="icon-fa">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="mailto:?subject=@Model.ContentItem.Name;body=@url" class="icon-email">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
            @if (Model.ListContentItem.Any())
            {
                <div class="right">
                    <span class="title">@ResourceData.Resource("DuAnLienQuan", ViewBag.Lang)</span>
                    <div class="list-item-related">
                        @foreach (var item in Model.ListContentItem)
                        {
                            <div class="item img-hover">
                                <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="item-img">
                                    <img src="@item.UrlPicture" alt="@item.Name" />
                                </a>
                                <div class="item-content">
                                    <h3 class="name"><a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">@item.Name</a></h3>
                                    <p class="text">@item.Address</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
