@model ContentViewModels
@using ADCOnline.Simple.Item
@using ADCOnline.Simple.Json;
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ContentItem != null)
    {
        ViewBag.Title = !string.IsNullOrEmpty(Model.ContentItem.SEOTitle) ? Model.ContentItem.SEOTitle : Model.ContentItem.Name;
        ViewBag.Name = Model.ContentItem.Name;
        ViewBag.Description = !string.IsNullOrEmpty(Model.ContentItem.SeoDescription) ? Model.ContentItem.SeoDescription : Model.ContentItem.Name;
        ViewBag.Keywords = !string.IsNullOrEmpty(Model.ContentItem.SeoKeyword) ? Model.ContentItem.SeoKeyword : Model.ContentItem.Name;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ContentItem.UrlPicture) ? Model.ContentItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ContentItem.SEOTitle) ? Model.ContentItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ContentItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ContentItem.Canonical) ? Model.ContentItem.Canonical : string.Empty;
    ViewBag.IsSchema = false;
    ViewBag.LangModule = Model.ModuleItem.Lang;
    SizeImages image = new SizeImages();
    ViewBag.Banner = false;
}
@if (Model.ContentItem != null)
{
    <div class="path no-banners">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                @ResourceData.Resource("TrangChu", ViewBag.Lang)
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <a href="@Utility.Link(Model.ModuleItem.NameAscii, string.Empty, Model.ModuleItem.LinkUrl)" title="@Model.ModuleItem.Name">@Model.ModuleItem.Name</a>
        </div>
    </div>
    <div class="news-detail">
        <div class="container">
            <div class="left">
                <div class="title">
                    @if (Model.ModuleItem.CreatedDate.HasValue)
                    {
                        <div class="date">
                            <p><strong>@Model.ModuleItem.CreatedDate.Value.ToString("dd")</strong></p>
                            <p>@Model.ModuleItem.CreatedDate.Value.ToString("MM/yyyy")</p>
                        </div>
                    }
                    <h1 class="big-title title-main-page">@Model.ContentItem.Name</h1>
                </div>
                <div class="paragraph fs17 justify detail-content">
                    @if (!string.IsNullOrEmpty(Model.ContentItem.Content))
                    {
                        @Html.Raw(Model.ContentItem.Content)
                    }
                    else
                    {
                        <p class="update">@ResourceData.Resource("DangCapnhat", ViewBag.Lang)</p>
                    }
                </div>
                <div class="share">
                    <p>@ResourceData.Resource("ChiaSe", ViewBag.Lang):</p>
                    <a href="https://www.facebook.com/sharer.php?u=@url" target="_blank" title="facebooke share" rel="nofollow" class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" height="17px" viewBox="0 0 320 512">
                            <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
                        </svg>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url=@url" target="_blank" title="twitter share" rel="nofollow" class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 0 512 512">
                            <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="news-new">
                    <div class="big-title title-main-page before left">@ResourceData.Resource("TinMoiNhat", ViewBag.Lang)</div>
                    <div class="list">
                        @foreach (WebsiteContentItem item in Model.ListContentItemNew)
                        {
                            <div class="item item-product-new flex-start">
                                <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                </a>
                                <div class="text">
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="name">
                                        @item.Name
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.ListCurtainCollection.Any())
                {
                    <div class="intro">
                        @foreach (WebsiteModulesJson item in Model.ListCurtainCollection)
                        {
                            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="item item-list-banner">
                                <div class="text">
                                    <h3 class="big-title title-banner">@item.Name</h3>
                                    <div class="paragaph detail-content">
                                        @Html.Raw(item.Description)
                                    </div>
                                </div>
                                <div class="img-item">
                                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                </div>
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.ListContentItem.Any())
    {
        <div class="related-news">
            <div class="container">
                <div class="big-title center before">
                    <p>@ResourceData.Resource("TinTucLienQuan", ViewBag.lang)</p>
                </div>
                <div class="slide-related-news owl-carousel owl-theme">

                    @foreach(WebsiteContentItem item in Model.ListContentItem)
                    {

                        <div class="item item-news-index">
                            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                                <span class="hover"></span>
                                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                            </a>
                            <div class="text">
                                @if (item.CreatedDate.HasValue)
                                {
                                    <div class="date">
                                        <p><strong>@item.CreatedDate.Value.ToString("dd")</strong></p>
                                        <p>@item.CreatedDate.Value.ToString("MM/yyyy")</p>
                                    </div>
                                }
                                <h3>
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">
                                        @item.Name
                                    </a>
                                </h3>
                                <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="more">
                                    @ResourceData.Resource("XemThem", ViewBag.Lang) <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                  d="M17.92 6.62a1 1 0 0 0-.54-.54A1 1 0 0 0 17 6H7a1 1 0 0 0 0 2h7.59l-8.3 8.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0L16 9.41V17a1 1 0 0 0 2 0V7a1 1 0 0 0-.08-.38Z" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
