@model ContentViewModels
@using ADCOnline.Simple.Item
@using Microsoft.Extensions.Options
@using Website.Utils
@inject IOptions<GoogleCaptchaConfig> GoogleCaptChaConfig
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ContentItem != null)
    {
        ViewBag.Title = !string.IsNullOrEmpty(Model.ContentItem.SEOTitle) ? Model.ContentItem.SEOTitle : Model.ContentItem.Name;
        ViewBag.Name = Model.ContentItem.Name;
        ViewBag.Description = !string.IsNullOrEmpty(Model.ContentItem.SeoDescription) ? Model.ContentItem.SeoDescription : Model.ContentItem.Name;
        ViewBag.Keywords = !string.IsNullOrEmpty(Model.ContentItem.SeoKeyword) ? Model.ContentItem.SeoKeyword : Model.ContentItem.Name;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ContentItem.UrlPicture) ? Model.ContentItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ContentItem.SEOTitle) ? Model.ContentItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ContentItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ContentItem.Canonical) ? Model.ContentItem.Canonical : string.Empty;
    ViewBag.IsSchema = false;
}
@if (Model.ContentItem != null)
{
    if (Model.ModuleItem.AlbumGalleryItems.Any(x => x.AlbumType == 3))
    {
        if (Model.ModuleItem.AlbumGalleryItems.Count(x => x.AlbumType == 3) == 1)
        {
            <div class="banner">
                <div class="img-banner">
                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, Model.ModuleItem.AlbumGalleryItems.FirstOrDefault(x => x.AlbumType == 3).AlbumUrl, Model.ModuleItem.Name))
                </div>
            </div>
        }
        else
        {
            <div class="banner">
                <div class="slide-index owl-carousel owl-theme">
                    @foreach (AlbumGalleryItem item in Model.ModuleItem.AlbumGalleryItems.Where(x => x.AlbumType == 3))
                    {
                        <div class="img-banner">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ModuleItem.Name))
                        </div>
                    }
                </div>
            </div>
        }
    }
    <div class="path">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                @ResourceData.Resource("TrangChu", ViewBag.Lang)
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <a href="@Utility.Link(Model.ModuleItem.NameAscii, string.Empty, Model.ModuleItem.LinkUrl)" title="@Model.ModuleItem.Name">@Model.ModuleItem.Name</a>
        </div>
    </div>
    <div class="recruitment">
        <div class="container">
            <div class="left">
                <div class="paragraph fs17 justify detail-content">
                    @if (!string.IsNullOrEmpty(Model.ContentItem.Content))
                    {
                        @Html.Raw(Model.ContentItem.Content)
                    }
                    else
                    {
                        <p class="update">@ResourceData.Resource("DangCapNhat", ViewBag.Lang)</p>
                    }
                </div>
            </div>
            <div class="right">
                <div class="big-title title-form-recuiment">
                    <p>@ResourceData.Resource("LienHeVoiChungToi", ViewBag.Lang)</p>
                </div>
                <vc:form-contact-component code="content"></vc:form-contact-component>
            </div>
        </div>
    </div>
}
