@model ContentViewModels
@using ADCOnline.Simple.Item
@using ADCOnline.Simple.Json;
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ContentItem != null)
    {
        ViewBag.Title = !string.IsNullOrEmpty(Model.ContentItem.SEOTitle) ? Model.ContentItem.SEOTitle : Model.ContentItem.Name;
        ViewBag.Name = Model.ContentItem.Name;
        ViewBag.Description = !string.IsNullOrEmpty(Model.ContentItem.SeoDescription) ? Model.ContentItem.SeoDescription : Model.ContentItem.Name;
        ViewBag.Keywords = !string.IsNullOrEmpty(Model.ContentItem.SeoKeyword) ? Model.ContentItem.SeoKeyword : Model.ContentItem.Name;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ContentItem.UrlPicture) ? Model.ContentItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ContentItem.SEOTitle) ? Model.ContentItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ContentItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ContentItem.Canonical) ? Model.ContentItem.Canonical : string.Empty;
    ViewBag.IsSchema = false;
    ViewBag.LangModule = Model.ModuleItem.Lang;
    SizeImages image = new SizeImages();
    ViewBag.Banner = false;
    //List<AlbumGalleryItem> albums = !string.IsNullOrEmpty(Model.ContentItem.AlbumPictureJson) ? JsonConvert.DeserializeObject<List<AlbumGalleryItem>>(Model.ContentItem.AlbumPictureJson) : new List<AlbumGalleryItem>();
}
@if (Model.ContentItem != null)
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.css">
    if (Model.ModuleItem.AlbumGalleryItems.Any(x => x.AlbumType == 3))
    {
        if (Model.ModuleItem.AlbumGalleryItems.Count(x => x.AlbumType == 3) == 1)
        {
            <div class="banner">
                <div class="img-banner">
                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, Model.ModuleItem.AlbumGalleryItems.FirstOrDefault(x => x.AlbumType == 3).AlbumUrl, Model.ModuleItem.Name))
                </div>
            </div>
        }
        else
        {
            <div class="banner">
                <div class="slide-index owl-carousel owl-theme">
                    @foreach (AlbumGalleryItem item in Model.ModuleItem.AlbumGalleryItems.Where(x => x.AlbumType == 3))
                    {
                        <div class="img-banner">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ModuleItem.Name))
                        </div>
                    }
                </div>
            </div>
        }
    }
    <div class="path">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                @ResourceData.Resource("TrangChu", ViewBag.Lang)
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <div>@Model.ModuleItem.Name</div>
        </div>
    </div>
    <div class="price-quote">
        <div class="container">
            <div class="left">
                @if (Model.WebsiteModulesItems.Any(x => x.ParentID > 0))
                {
                    @foreach (WebsiteModulesItem module in Model.WebsiteModulesItems.Where(x => x.ParentID == 0))
                    {
                        <div class="quote">
                            <div class="big-title title-main-page before left">
                                <p>@module.Name</p>
                            </div>
                            @if (Model.WebsiteModulesItems.Any(x => x.ParentID == module.ID))
                            {
                                <div class="paragraph">
                                    <ul>
                                        @foreach (WebsiteModulesItem item in Model.WebsiteModulesItems.Where(x => x.ParentID == module.ID))
                                        {
                                            <li class="@(item.ID == Model.ModuleItem.ID ? "active" : string.Empty)">
                                                <div class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="8"
                                                         viewBox="0 0 320 512">
                                                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                                    </svg>
                                                </div><a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">@item.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    }
                }
                @if (Model.ListProductModels.Any())
                {
                    <div class="product-new">
                        <div class="big-title title-main-page before left">
                            <p>@ResourceData.Resource("SanPhamMoi", ViewBag.Lang)</p>
                        </div>
                        <div class="list">
                            @foreach (ProductItem item in Model.ListProductModels)
                            {
                                <div class="item item-product-new">
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, Common.ImageUrl(item.UrlPicture, Context, 400, 400), item.Name))
                                    </a>
                                    <div class="text">
                                        <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="name">
                                            @item.Name_
                                        </a>
                                        @if (!string.IsNullOrEmpty(item.ProductCode))
                                        {
                                            <div class="code">
                                                <p>@ResourceData.Resource("Ma", ViewBag.Lang): @item.ProductCode</p>
                                            </div>
                                        }
                                        <div class="p-price">
                                            @if (item.PriceOld.HasValue && item.PriceOld > 0)
                                            {
                                                <p class="price-old">@Utility.GetFormatPriceType(item.PriceOld,1,"",true)</p>
                                            }
                                            <p class="price"><strong>@Utility.GetFormatPriceType(item.Price,1,ResourceData.Resource("LienHe", ViewBag.Lang),true)</strong></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="right">
                <h1 class="big-title title-main-page before left">@Model.ContentItem.Name</h1>
                <div class="paragraph fs17 detail-content">
                    @*@if (albums.Any())
                    {
                    <div class="img-detai">
                        @if (albums.Count(x => x.AlbumType == 0) <= 4)
                        {
                            int count = albums.Count(x => x.AlbumType == 0);
                            @foreach (AlbumGalleryItem item in albums.Where(x => x.AlbumType == 0).Take(4))
                            {
                                image = Utility.GetSizeImages(WebConfig.PathServer, item.AlbumUrl);
                                <div class="item count_@count" data-src="@item.AlbumUrl" data-fancybox="gallery"
                                     data-caption="@item.AlbumTitle">
                                    <img src="@item.AlbumUrl" alt="@item.AlbumTitle" width="@image.Width" height="@image.Height" loading="lazy" />
                                </div>
                            }
                        }
                        else
                        {
                            int count = albums.Count(x => x.AlbumType == 0) - 4;
                            int i = 1;
                            @foreach (AlbumGalleryItem item in albums.Where(x => x.AlbumType == 0).Take(4))
                            {
                                image = Utility.GetSizeImages(WebConfig.PathServer, item.AlbumUrl);
                                <div class="item count_4" data-src="@item.AlbumUrl" data-fancybox="gallery"
                                     data-caption="@item.AlbumTitle">
                                    <img src="@item.AlbumUrl" alt="@item.AlbumTitle" width="@image.Width" height="@image.Height" loading="lazy" />
                                    @if (i == 4)
                                    {
                                        <div class="count-more-image">@(count)+</div>
                                    }
                                </div>
                                i++;
                            }

                            @foreach (AlbumGalleryItem item in albums.Where(x => x.AlbumType == 0).Skip(4))
                            {
                                image = Utility.GetSizeImages(WebConfig.PathServer, item.AlbumUrl);
                                <div class="item" style="display: none" data-src="@item.AlbumUrl" data-fancybox="gallery"
                                     data-caption="@item.AlbumTitle">
                                    <img src="@item.AlbumUrl" alt="@item.AlbumTitle" width="@image.Width" height="@image.Height" loading="lazy" />
                                </div>
                            }
                        }
                    </div>
                    }*@

                    @if (Model.ContentItem.AlbumGalleryItems.Any(x => x.AlbumType == 0))
                    {
                        int i = 1;
                        <div class="album-product" id="detai_5">
                            @*<div class="content-title">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M20 4v12H8V4h12m0-2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-8.5 9.67l1.69 2.26 2.48-3.1L19 15H9zM2 6v14c0 1.1.9 2 2 2h14v-2H4V6H2z" /></svg>
                                </div>
                                <h2 class="big-title title-content">@ResourceData.Resource("Album", ViewBag.Lang)</h2>
                            </div>*@
                            <div class="grid-gallery zoom">
                                @foreach (var item in Model.ContentItem.AlbumGalleryItems.Where(x => x.AlbumType == 0))
                                {
                                    <figure class=" @(i > 8 ? "hide": string.Empty) @(i == 4 ? "wide" : string.Empty)">
                                        <a data-src="@item.AlbumUrl" data-fancybox="gallery" data-caption="@item.AlbumTitle" title="@item.AlbumTitle">
                                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, Common.ImageUrl(item.AlbumUrl, Context, 400, 400), Model.ContentItem.Name))
                                            <figcaption>
                                                <h3>@item.AlbumTitle</h3>
                                                <p>@item.AlbumTitle</p>
                                            </figcaption>
                                            @if (i == 8)
                                            {
                                                <span class="more-gallery">@(Model.ContentItem.AlbumGalleryItems.Count() - 8)+</span>
                                            }
                                        </a>
                                    </figure>
                                    i++;
                                }

                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ContentItem.Content))
                    {
                        @Html.Raw(Model.ContentItem.Content)
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
}
