@model ModuleViewModels
@using ADCOnline.Simple.Item
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ModuleItem != null)
    {
        ViewBag.Title = Model.ModuleItem.SEOTitle;
        ViewBag.Name = Model.ModuleItem.Name;
        ViewBag.Description = Model.ModuleItem.SeoDescription;
        ViewBag.Keywords = Model.ModuleItem.SeoKeyword;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ModuleItem.UrlPicture) ? Model.ModuleItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ModuleItem.SEOTitle) ? Model.ModuleItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path,
    WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ModuleItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ModuleItem.Canonical) ? Model.ModuleItem.Canonical : string.Empty;
    ViewBag.LangModule = Model.ModuleItem.Lang;
    var hotline = !string.IsNullOrEmpty(Model.SystemConfigItem.Hotline) ? Model.SystemConfigItem.Hotline.Replace(" ", "").Split(',') : null;
    ViewBag.Banner = false;
}
@if (Model.ModuleItem != null)
{
    if (Model.ModuleItem.AlbumGalleryItems.Any(x => x.AlbumType == 3))
    {
        if (Model.ModuleItem.AlbumGalleryItems.Count(x => x.AlbumType == 3) == 1)
        {
            <div class="banner">
                <div class="img-banner">
                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, Model.ModuleItem.AlbumGalleryItems.FirstOrDefault(x => x.AlbumType == 3).AlbumUrl, Model.ModuleItem.Name))
                </div>
            </div>
        }
        else
        {
            <div class="banner">
                <div class="slide-index owl-carousel owl-theme">
                    @foreach (AlbumGalleryItem item in Model.ModuleItem.AlbumGalleryItems.Where(x => x.AlbumType == 3))
                    {
                        <div class="img-banner">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ModuleItem.Name))
                        </div>
                    }
                </div>
            </div>
        }
    }
    <div class="path">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                @ResourceData.Resource("TrangChu", ViewBag.Lang)
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <div>@Model.ModuleItem.Name</div>
        </div>
    </div>

    <div class="contact">
        <div class="container">
            <h1 class="big-title center before">@Model.SystemConfigItem.Name</h1>
            <div class="list-info">
                @if (!string.IsNullOrEmpty(Model.SystemConfigItem.Address1))
                {
                    <div class="item item-info">
                        <div class="icon">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, "/html/style/images/icon-truso.webp", "icon"))
                        </div>
                        <div class="title">
                            <p>@ResourceData.Resource("TruSo", ViewBag.Lang)</p>
                        </div>
                        <div class="paragraph fs17 center">
                            <p>
                                @Model.SystemConfigItem.Address1
                            </p>
                        </div>
                    </div>
                }

                @if (hotline.Any() || !string.IsNullOrEmpty(Model.SystemConfigItem.Email2))
                {
                    <div class="item item-info">
                        <div class="icon">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, "/html/style/images/icon-dienthoai-email.webp", "icon"))
                        </div>
                        <div class="title">
                            <p>@ResourceData.Resource("DienThoaiEmail", ViewBag.Lang)</p>
                        </div>
                        <div class="paragraph fs17 center">
                            @if (hotline.Any())
                            {
                                int i = 1;
                                foreach (string item in hotline)
                                {
                                    <a href="tel:@Utility.FormatPhone(item)" title="hotline" rel="nofollow" target="_blank">@(i == 1 ? item : " - " + item)</a>
                                    i++;
                                }
                            }
                            @if (!string.IsNullOrEmpty(Model.SystemConfigItem.Email2))
                            {
                                <a href="mailto:@Model.SystemConfigItem.Email2" title="email" rel="nofollow" target="_blank">@(hotline.Any() ? " - " : string.Empty) @Model.SystemConfigItem.Email2</a>
                            }
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.SystemConfigItem.Website))
                {
                    <div class="item item-info">
                        <div class="icon">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, "/html/style/images/icon-website.webp", "icon"))
                        </div>
                        <div class="title">
                            <p>Website</p>
                        </div>
                        <div class="paragraph fs17 center">
                            <a href="@Model.SystemConfigItem.Website" title="Website" rel="nofollow" target="_blank">@Model.SystemConfigItem.Website.Replace("http://", "").Replace("https://", "")</a>
                        </div>
                    </div>
                }
            </div>
            <div class="form-contact">
                @if (!string.IsNullOrEmpty(Model.SystemConfigItem.MapGoogle1))
                {
                    <div class="left">
                        @Html.Raw(Model.SystemConfigItem.MapGoogle1)
                    </div>
                }
                <div class="right">
                    <div class="big-title title-form-contact">
                        <p>@ResourceData.Resource("GuiLienHeChoChungToi", ViewBag.Lang)</p>
                    </div>
                    <vc:form-contact-component code="contact"></vc:form-contact-component>
                </div>
            </div>
        </div>
    </div>
}
