@model ModuleViewModels
@using ADCOnline.Simple.Item
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ModuleItem != null)
    {
        ViewBag.Title = Model.ModuleItem.SEOTitle;
        ViewBag.Name = Model.ModuleItem.Name;
        ViewBag.Description = Model.ModuleItem.SeoDescription;
        ViewBag.Keywords = Model.ModuleItem.SeoKeyword;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ModuleItem.UrlPicture) ? Model.ModuleItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ModuleItem.SEOTitle) ? Model.ModuleItem.SEOTitle : string.Empty;
    ViewBag.Hidden = true;
    string url = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ModuleItem.IndexGoogle;
    ViewBag.LangModule = Model.ModuleItem.Lang;
    List<WebsiteContentItem> Contents = new List<WebsiteContentItem>();
    SizeImages image = new SizeImages();
    ViewBag.Banner = true;
}
@if (Model.ModuleItem != null)
{
    abcde
    if (Model.ModuleItem.AlbumGalleryItems.Any(x => x.AlbumType == 3))
    {
        if (Model.ModuleItem.AlbumGalleryItems.Count(x => x.AlbumType == 3) == 1)
        {
            <div class="banner">
                <div class="img-banner">
                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, Model.ModuleItem.AlbumGalleryItems.FirstOrDefault(x => x.AlbumType == 3).AlbumUrl, Model.ModuleItem.Name))
                </div>
            </div>
        }
        else
        {
            <div class="banner">
                <div class="slide-index owl-carousel owl-theme">
                    @foreach (AlbumGalleryItem item in Model.ModuleItem.AlbumGalleryItems.Where(x => x.AlbumType == 3))
                    {
                        <div class="img-banner">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ModuleItem.Name))
                        </div>
                    }
                </div>
            </div>
        }
    }
    <div class="path">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                @ResourceData.Resource("TrangChu", ViewBag.Lang)
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <div>@Model.ModuleItem.Name</div>
        </div>
    </div>

    <div class="about-top">
        <h1 class="big-title center before">@Model.ModuleItem.Name</h1>
        @if (Model.ListModuleItems.Any())
        {
            <div class="type">
                <div class="container">
                    <div class="list">
                        @foreach (WebsiteModulesItem item in Model.ListModuleItems.OrderBy(x => x.OrderDisplay))
                        {
                            <div class="item" data-id="@item.ID">
                                <p>@item.Name</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    if (Model.ListModuleItems.Any())
    {
        @foreach (WebsiteModulesItem module in Model.ListModuleItems.OrderBy(x => x.OrderDisplay))
        {
            switch (module.TypeView)
            {
                case StaticEnum.ThuNgo:
                    if (module.ListContentItem.Any())
                    {
                        foreach (WebsiteContentItem item in module.ListContentItem)
                        {
                            <div class="letter" id="module_@module.ID">
                                <div class="container">
                                    <div class="left">
                                        <h2 class="big-title title-extra">@item.Name</h2>
                                        <div class="paragraph fs17 justify detail-content">
                                            @Html.Raw(item.Content)
                                        </div>
                                    </div>
                                    <div class="right">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    break;
                case StaticEnum.GioiThieuChung:
                    if (module.ListContentItem.Any())
                    {
                        foreach (WebsiteContentItem item in module.ListContentItem)
                        {
                            <div class="about" id="module_@module.ID">
                                <div class="container">
                                    <h2 class="big-title title-extra center">@item.Name</h2>
                                    <div class="paragraph fs17 center detail-content">
                                        @Html.Raw(item.Content)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    break;
                case StaticEnum.TamNhin:
                    if (module.ListContentItem.Any())
                    {
                        int i = 1;
                        <div class="vision-mission">
                            <div class="container">
                                @foreach (WebsiteContentItem item in module.ListContentItem)
                                {
                                    <div class="item item-vission @(i%2!=0 ? "vision" : "revert")" id="module_@module.ID">
                                        <div class="img">
                                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                        </div>
                                        <div class="text">
                                            <h2 class="big-title title-extra">@item.Name</h2>
                                            <div class="paragraph fs17 justify detail-content">
                                                @Html.Raw(item.Content)
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }
                            </div>
                        </div>
                    }
                    break;
                case StaticEnum.GiaTri:
                    if (module.ListContentItem.Any())
                    {
                        <div class="core-values" id="module_@module.ID">
                            <div class="container">
                                <h2 class="big-title title-extra center">@module.Name</h2>
                                <div class="paragraph fs17 center detail-content">
                                    @Html.Raw(module.Content)
                                </div>
                                <div class="list">
                                    @foreach (WebsiteContentItem item in module.ListContentItem)
                                    {
                                        <div class="item">
                                            <h3>@item.Name</h3>
                                            <div class="paragraph fs17 justify detail-content">
                                                @Html.Raw(item.Content)
                                            </div>
                                        </div>
                                    }
                                    <div class="center">
                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, module.UrlPicture, module.Name))
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    break;
                case StaticEnum.LichSu:
                    if (module.ListContentItem.Any())
                    {
                        <div class="history" id="module_@module.ID">
                            <div class="title">
                                <h2 class="big-title center title-extra color-white">@module.Name</h2>
                            </div>
                            <div class="slide">
                                <div class="container">
                                    <div class="slide-history owl-carousel owl-theme">
                                        @foreach (WebsiteContentItem item in module.ListContentItem)
                                        {
                                            <div class="item item-year">
                                                <div class="year">
                                                    <p>@item.Name</p>
                                                </div>
                                                <div class="paragraph fs17 detail-content">
                                                    @Html.Raw(item.Content)
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    break;
                case StaticEnum.NangLuc:
                    if (module.ListContentItem.Any())
                    {
                        @foreach (WebsiteContentItem item in module.ListContentItem)
                        {
                            var album = !string.IsNullOrEmpty(item.AlbumPictureJson) ? JsonConvert.DeserializeObject<List<AlbumGalleryItem>>(item.AlbumPictureJson) : new List<AlbumGalleryItem>();
                            <div class="capacity" id="module_@module.ID">
                                <div class="container">
                                    <div class="item item-vission h-slide">
                                        @if (album.Any(x => x.AlbumType == 0))
                                        {
                                            <div class="slide-capacity owl-carousel owl-theme">
                                                @foreach (var alb in album.Where(x => x.AlbumType == 0))
                                                {
                                                    <div class="item-capacity">
                                                        @Html.Raw(Utility.GetImage(WebConfig.PathServer, alb.AlbumUrl, item.Name))
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item-capacity">
                                                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                            </div>
                                        }
                                        <div class="text">
                                            <h2 class="big-title title-extra">@item.Name</h2>
                                            <div class="paragraph fs17 justify detail-content">
                                                @Html.Raw(item.Content)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    break;
                case StaticEnum.DoiNgu:
                    if (module.ListContentItem.Any())
                    {
                        <div class="personnel" id="module_@module.ID">
                            <div class="container">
                                <h2 class="big-title center title-extra">@module.Name</h2>
                                <div class="paragraph fs17 center detail-content">
                                    @Html.Raw(module.Description)
                                </div>
                                <div class="slide-personnel owl-carousel owl-theme">
                                    @foreach (WebsiteContentItem item in module.ListContentItem)
                                    {
                                        <div class="item item-personnel">
                                            <div class="img">
                                                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                            </div>
                                            <div class="text">
                                                <h3>@item.Name</h3>
                                                @if (!string.IsNullOrEmpty(item.Title))
                                                {
                                                    <div class="paragraph fs17 center">
                                                        <p>@item.Title</p>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    break;
                case StaticEnum.ThanhTich:
                    if (module.ListContentItem.Any())
                    {
                        <div class="achievements" id="module_@module.ID">
                            <div class="container">
                                <h2 class="big-title center title-extra">@module.Name</h2>
                                <div class="slide-achievements owl-carousel owl-theme">
                                    @foreach (WebsiteContentItem item in module.ListContentItem)
                                    {
                                        <div class="item item-achievements">
                                            <div class="img">
                                                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                                            </div>
                                            <div class="paragraph fs17 center">
                                                <p>@item.Name</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    break;

            }

        }
    }









}