@model ModuleViewModels
@using ADCOnline.Simple.Item
@using ADCOnline.Utils
@using Microsoft.Extensions.Options
@using Website.Utils
@inject IOptions<GoogleCaptchaConfig> GoogleCaptChaConfig
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ModuleItem != null)
    {
        ViewBag.Title = Model.ModuleItem.SEOTitle;
        ViewBag.Name = Model.ModuleItem.Name;
        ViewBag.Description = Model.ModuleItem.SeoDescription;
        ViewBag.Keywords = Model.ModuleItem.SeoKeyword;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ModuleItem.UrlPicture) ? Model.ModuleItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ModuleItem.SEOTitle) ? Model.ModuleItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ModuleItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ModuleItem.Canonical) ? Model.ModuleItem.Canonical : string.Empty;
    ViewBag.IsSchema = true;
    ViewBag.ShowDichVu = true;
    ViewBag.CodeSchema = "SchemaCategoryNews";
}

@if (Model.ModuleItem != null)
{
    if (Model.ModuleItem.AlbumGalleryItems.Any(x => x.AlbumType == 3))
    {
        <div class="banner-noslide">
            @foreach (var item in Model.ModuleItem.AlbumGalleryItems.Where(x => x.AlbumType == 3).OrderBy(x => x.AlbumOrderDisplay))
            {
                <div class="item">
                    <div class="item-img">
                        <img src="@item.AlbumUrl" alt="@item.AlbumTitle">
                    </div>
                </div>
            }
        </div>
    }

    <div class="breadcrumb">
        <div class="container">
            <ul>
                <li>
                    <a href="/" title="@ResourceData.Resource(" TrangChu", ViewBag.Lang)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z" />
                        </svg>
                    </a><i class="fa-solid fa-angle-right"></i>
                </li>
                <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
                <li>
                    <a href="@Utility.Link(Model.ModuleItem.NameAscii, string.Empty, Model.ModuleItem.LinkUrl)"
                       title="@Model.ModuleItem.Name">@Model.ModuleItem.Name</a>
                </li>
            </ul>
        </div>
    </div>
    if (Model.ListContentItemHot.Any())
    {
        <div class="project-index">
            <div class="container">
                <h2 class="title-2">@(!string.IsNullOrEmpty(Model.ModuleItem.Title) ? Model.ModuleItem.Title : Model.ModuleItem.Name)</h2>
                <div class="project-index-list owl-carousel owl-theme">

                    @foreach (WebsiteContentItem item in Model.ListContentItemHot)
                    {
                        <div class="item">
                            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="item-img save-link-history">
                                <img src="@item.UrlPicture" alt="@item.Name" />
                            </a>
                            <div class="item-content">
                                <h3 class="name">
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="save-link-history">@item.Name</a>
                                </h3>
                                <div class="text detail-content">
                                    @Html.Raw(item.Description)
                                </div>
                                <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="btn-see-more type-2 save-link-history">@ResourceData.Resource("XemThem", ViewBag.Lang)</a>
                            </div>
                        </div>
                    }

                </div>
                <div class="owl-nav-project">
                    <div class="button-nav">
                        <div class="prev"><i class="fa-solid fa-arrow-left"></i></div>
                        <div class="next"><i class="fa-solid fa-arrow-right"></i></div>
                    </div>
                    <div class="number-nav">
                        <p class="page-current">01</p>
                        /
                        <p class="page-final">@Model.ListContentItemHot.Count().ToString("D2")</p>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="news-index">
        <div class="container">
            <h2 class="title-2">@ResourceData.Resource("CacDuAnDaTrienKhai", ViewBag.Lang)</h2>
            @if (Model.ListContentItemAsync.Any())
            {
                <div class="news-index-list">
                    @foreach (WebsiteContentItem item in Model.ListContentItemAsync)
                    {
                        <div class="item item-news">
                            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="item.Name" class="item-img img-hover save-link-history">
                                <img src="@item.UrlPicture" alt="@item.Name" />
                            </a>
                            <div class="item-info">
                                <h3 class="name">
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="item.Name" class="save-link-history">@item.Name</a>
                                </h3>
                                <div class="text detail-content">
                                    @Html.Raw(item.Description)
                                </div>

                                <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="item.Name" class="btn-see-more save-link-history">@ResourceData.Resource("XemChiTiet", ViewBag.Lang)</a>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Total > Model.PageSize)
                {
                    @Html.Raw(ViewBag.GridHtml)
                }
            } else
            {
                <p class="update">@ResourceData.Resource("DangCapNhat",ViewBag.Lang)</p>
            }

        </div>
    </div>

}