@model ModuleViewModels
@using ADCOnline.Simple.Item
@using ADCOnline.Utils
@using Microsoft.Extensions.Options
@using Website.Utils
@inject IOptions<GoogleCaptchaConfig> GoogleCaptChaConfig
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ModuleItem != null)
    {
        ViewBag.Title = Model.ModuleItem.SEOTitle;
        ViewBag.Name = Model.ModuleItem.Name;
        ViewBag.Description = Model.ModuleItem.SeoDescription;
        ViewBag.Keywords = Model.ModuleItem.SeoKeyword;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ModuleItem.UrlPicture) ? Model.ModuleItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ModuleItem.SEOTitle) ? Model.ModuleItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ModuleItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ModuleItem.Canonical) ? Model.ModuleItem.Canonical : string.Empty;
    ViewBag.IsSchema = true;
    ViewBag.ShowDichVu = true;
    ViewBag.CodeSchema = "SchemaCategoryNews";
}

@if (Model.ModuleItem != null)
{
    @if (Model.ModuleItem.AlbumGalleryItems.Any(x => x.AlbumType == 3))
    {
        <div class="banner-slide">
            <div class="@(Model.ModuleItem.AlbumGalleryItems.Count(x => x.AlbumType == 3) > 1 ? "slide owl-carousel owl-theme" : "banner mt-top")">
                @foreach (var item in Model.ModuleItem.AlbumGalleryItems.Where(x => x.AlbumType == 3).OrderBy(x => x.AlbumOrderDisplay))
                {
                    <div class="item">
                        <img src="@item.AlbumUrl" alt="@item.AlbumTitle">
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.WebsiteModulesItems.Any())
    {
        <div class="intro-page-menu no-mb">
            <div class="container-3 box">
                @foreach (var item in Model.WebsiteModulesItems.OrderBy(x => x.OrderDisplay))
                {
                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="item @(Model.ModuleItem.ID == item.ID ? "active" : string.Empty)">@item.Name</a>
                }
            </div>
        </div>
    }
    <div class="container">
        <div class="list-total type-3 build-page">
            <div class="item">
                <div class="item-img img-bg-before">
                    <img src="@Model.ModuleItem.UrlPicture" alt="@Model.ModuleItem.Name" />
                </div>
                <div class="text-content">
                    <h1 class="name">@Model.ModuleItem.Name</h1>
                    <div class="text detail-content">
                        @Html.Raw(Model.ModuleItem.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="years-of-experience container detail-content">
        @Html.Raw(Model.ModuleItem.Content)
    </div>

    @if (Model.ListContentItemAsync.Any())
    {
        <div class="project-outstanding container">
            <h2 class="title">@ResourceData.Resource("DuAnNoiBat", ViewBag.Lang)</h2>
            <div class="list-news">
                @foreach (var item in Model.ListContentItemAsync)
                {
                    <div class="item-news">
                        <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="item-img">
                            <img src="@item.UrlPicture" alt="@item.Name" />
                        </a>
                        <h3 class="name"><a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">@item.Name</a></h3>
                        <div class="item-bottom">
                            <div class="item-address">@item.Address</div>
                            <a class="btn-see-detail" href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">
                                <span>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                }
                @if (Model.Total > Model.PageSize)
                {
                    @Html.Raw(ViewBag.GridHtml)
                }
            </div>
        </div>
    }
}
