@model ModuleViewModels
@using ADCOnline.Simple.Item
@using ADCOnline.Utils
@using Microsoft.Extensions.Options
@using Website.Utils
@inject IOptions<GoogleCaptchaConfig> GoogleCaptChaConfig
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ModuleItem != null)
    {
        ViewBag.Title = Model.ModuleItem.SEOTitle;
        ViewBag.Name = Model.ModuleItem.Name;
        ViewBag.Description = Model.ModuleItem.SeoDescription;
        ViewBag.Keywords = Model.ModuleItem.SeoKeyword;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ModuleItem.UrlPicture) ? Model.ModuleItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ModuleItem.SEOTitle) ? Model.ModuleItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ModuleItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ModuleItem.Canonical) ? Model.ModuleItem.Canonical : string.Empty;
    ViewBag.IsSchema = true;
    ViewBag.ShowDichVu = true;
}

@if (Model.ModuleItem != null)
{
    @if (Model.ModuleItem.AlbumGalleryItems.Any(x => x.AlbumType == 3))
    {
        <div class="banner-slide">
            <div class="@(Model.ModuleItem.AlbumGalleryItems.Count(x => x.AlbumType == 3) > 1 ? "slide owl-carousel owl-theme" : "banner mt-top")">
                @foreach (var item in Model.ModuleItem.AlbumGalleryItems.Where(x => x.AlbumType == 3).OrderBy(x => x.AlbumOrderDisplay))
                {
                    <div class="item">
                        <img src="@item.AlbumUrl" alt="@item.AlbumTitle">
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.WebsiteModulesItems.Any())
    {
        <div class="intro-page-menu no-mb">
            <div class="container-3 box">
                @foreach (var module in Model.WebsiteModulesItems.Where(x => x.ParentID == Model.ModuleParentItem.ID).OrderBy(x => x.OrderDisplay))
                {
                    <a class="item@(module.ID == Model.ModuleItem.ID ? " active" : string.Empty)" href="@Utility.Link(module.NameAscii, string.Empty, module.LinkUrl)" title="@module.Name">@module.Name</a>
                }
            </div>
        </div>
    }
    <div class="recruitment">
        <div class="container">
            <h1 class="title">@Model.ModuleItem.Name</h1>
            <div class="tb-scroll">
                <table class="table-recruitment">
                    <thead>
                        <tr>
                            <th>@Html.Raw(ResourceData.Resource("STT", ViewBag.Lang))</th>
                            <th>@Html.Raw(ResourceData.Resource("ViTriTuyenDung", ViewBag.Lang))</th>
                            <th>@Html.Raw(ResourceData.Resource("DiaDiemLamViec", ViewBag.Lang))</th>
                            <th>@Html.Raw(ResourceData.Resource("NgayHetHan", ViewBag.Lang))</th>
                            <th>@Html.Raw(ResourceData.Resource("XemChiTiet", ViewBag.Lang))</th>
                            <th>@Html.Raw(ResourceData.Resource("ChiaSe", ViewBag.Lang))</th>
                        </tr>
                    </thead>
                    @if (Model.ListContentItemAsync.Any())
                    {
                        int i = 1;
                        <tbody>
                            @foreach(var content in Model.ListContentItemAsync)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        <a href="@Utility.Link(content.NameAscii, string.Empty, content.LinkUrl)" title="@Html.Raw(content.Name)">
                                            @Html.Raw(content.Name)
                                        </a>
                                    </td>
                                    <td>@content.Address</td>
                                    <td>@(content.EndDate.HasValue ? content.EndDate.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                                    <td><a href="href=" @Utility.Link(content.NameAscii, string.Empty, content.LinkUrl)"" title="@Html.Raw(ResourceData.Resource("XemChiTiet", ViewBag.Lang))">@Html.Raw(ResourceData.Resource("XemChiTiet", ViewBag.Lang))</a></td>
                                    <td>
                                        <div class="share">
                                            <a href="" title="Share">
                                                <img alt="icon" src="/html/style/images/icon-share.webp" alt="Share" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }                            
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            <tr>
                                <td colspan="6"></td>
                            </tr>
                        </tbody>
                    }
                </table>
                @if (Model.Total > Model.PageSize)
                {
                    @Html.Raw(ViewBag.GridHtml)
                }
            </div>
        </div>
    </div>
}