@model ModuleViewModels
@using ADCOnline.Simple.Item
@using ADCOnline.Utils
@using Microsoft.Extensions.Options
@using Website.Utils
@inject IOptions<GoogleCaptchaConfig> GoogleCaptChaConfig
@{
    if (ViewBag.NoIndex == true)
    {
        Layout = "~/Views/shared/_LayoutNoIndex.cshtml";
    }
    if (Model.ModuleItem != null)
    {
        ViewBag.Title = Model.ModuleItem.SEOTitle;
        ViewBag.Name = Model.ModuleItem.Name;
        ViewBag.Description = Model.ModuleItem.SeoDescription;
        ViewBag.Keywords = Model.ModuleItem.SeoKeyword;
    }
    ViewBag.UrlOgImage = !string.IsNullOrEmpty(Model.ModuleItem.UrlPicture) ? Model.ModuleItem.UrlPicture : string.Empty;
    ViewBag.OgImageAlt = !string.IsNullOrEmpty(Model.ModuleItem.SEOTitle) ? Model.ModuleItem.SEOTitle : string.Empty;
    string url = Utility.ReplaceHttpToHttps(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path, WebConfig.EnableHttps);
    ViewBag.IndexGoogle = ViewBag.NoIndex == true ? "noodp,noindex,nofollow" : Model.ModuleItem.IndexGoogle;
    ViewBag.Canonical = !string.IsNullOrEmpty(Model.ModuleItem.Canonical) ? Model.ModuleItem.Canonical : string.Empty;
    ViewBag.LangModule = Model.ModuleItem.Lang;
    ViewBag.IsSchema = true;
    ViewBag.ShowDichVu = true;
    ViewBag.CodeSchema = "SchemaCategoryNews";
    SizeImages image = new SizeImages();
}

@if (Model.ModuleItem != null)
{
    if (Model.ModuleItem.AlbumGalleryItems.Any(x => x.AlbumType == 3))
    {
        if (Model.ModuleItem.AlbumGalleryItems.Count(x => x.AlbumType == 3) == 1)
        {
            <div class="banner">
                <div class="img-banner">
                    @Html.Raw(Utility.GetImage(WebConfig.PathServer, Model.ModuleItem.AlbumGalleryItems.FirstOrDefault(x => x.AlbumType == 3).AlbumUrl, Model.ModuleItem.Name))
                </div>
            </div>
        }
        else
        {
            <div class="banner">
                <div class="slide-index owl-carousel owl-theme">
                    @foreach (AlbumGalleryItem item in Model.ModuleItem.AlbumGalleryItems.Where(x => x.AlbumType == 3))
                    {
                        <div class="img-banner">
                            @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.AlbumUrl, Model.ModuleItem.Name))
                        </div>
                    }
                </div>
            </div>
        }
    }
    <div class="path">
        <div class="container">
            <a href="/" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)">
                @ResourceData.Resource("TrangChu", ViewBag.Lang)
            </a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                     class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <vc:bread-crumb-component module-id="@Model.ModuleItem.ParentID"></vc:bread-crumb-component>
            <div>@Model.ModuleItem.Name</div>
        </div>
    </div>

    <div class="news">
        <div class="container">
            <h2 class="big-title center before">@(!string.IsNullOrEmpty(Model.ModuleItem.Title) ? Model.ModuleItem.Title : Model.ModuleItem.Name)</h2>
            @if (Model.ListContentItemHot.Any())
            {
                <div class="slide-news owl-carousel owl-theme">
                    @foreach (WebsiteContentItem item in Model.ListContentItemHot)
                    {
                        <div class="item item-news-index flex">
                            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                                <span class="hover"></span>
                                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                            </a>
                            <div class="text">
                                @if (item.CreatedDate.HasValue)
                                {
                                    <div class="date">
                                        <p><strong>@item.CreatedDate.Value.ToString("dd")</strong></p>
                                        <p>@item.CreatedDate.Value.ToString("MM/yyyy")</p>
                                    </div>
                                }
                                <h3>
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">
                                        @item.Name
                                    </a>
                                </h3>
                                <div class="paragraph fs17 detail">
                                    @Html.Raw(item.Description)
                                </div>
                                <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="more">
                                    @ResourceData.Resource("XemThem", ViewBag.Lang) <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                  d="M17.92 6.62a1 1 0 0 0-.54-.54A1 1 0 0 0 17 6H7a1 1 0 0 0 0 2h7.59l-8.3 8.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0L16 9.41V17a1 1 0 0 0 2 0V7a1 1 0 0 0-.08-.38Z" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="list-news">
        <div class="container">
            <h2 class="big-title center before">@ResourceData.Resource("DanhSach", ViewBag.Lang) @Model.ModuleItem.Name</h2>
            @if (Model.ListContentItemAsync.Any())
            {
                <div class="list">
                    @foreach (WebsiteContentItem item in Model.ListContentItemAsync)
                    {
                        <div class="item item-news-index">
                            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="img">
                                <span class="hover"></span>
                                @Html.Raw(Utility.GetImage(WebConfig.PathServer, item.UrlPicture, item.Name))
                            </a>
                            <div class="text">
                                @if (item.CreatedDate.HasValue)
                                {
                                    <div class="date">
                                        <p><strong>@item.CreatedDate.Value.ToString("dd")</strong></p>
                                        <p>@item.CreatedDate.Value.ToString("MM/yyyy")</p>
                                    </div>
                                }
                                <h3>
                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name">
                                        @item.Name
                                    </a>
                                </h3>
                                <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="more">
                                    @ResourceData.Resource("XemThem", ViewBag.Lang) <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                  d="M17.92 6.62a1 1 0 0 0-.54-.54A1 1 0 0 0 17 6H7a1 1 0 0 0 0 2h7.59l-8.3 8.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0L16 9.41V17a1 1 0 0 0 2 0V7a1 1 0 0 0-.08-.38Z" />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Total > Model.PageSize)
                {
                    @Html.Raw(ViewBag.GridHtml)
                }
            }
            else
            {
                <p class="update center">@ResourceData.Resource("DangCapnhat", ViewBag.Lang)</p>
            }
        </div>
    </div>
}