@using ADCOnline.Utils
@using Website.Utils
@model Website.Areas.Admin.ViewModels.HomeAdminViewModel
@{
    ViewBag.Title = "Quản lý điều hướng 301";
    ViewBag.RolesView = Model.SystemActionAdmin.View;
    ViewBag.RolesSearch = false;
    ViewBag.RolesAdd = Model.SystemActionAdmin.Add;
    ViewBag.RolesEdit = Model.SystemActionAdmin.Edit;
    ViewBag.RolesExcel = Model.SystemActionAdmin.View;
    ViewBag.RolesPrint = false;
    ViewBag.RolesCreateFile = false;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@if (Model.SystemActionAdmin.View)
{
    <div class="col-sm-12">
        @if (Model.ListModule.Any())
        {
            @foreach (var item in Model.ListModule.Where(x => x.ParentID == Model.Module.ParentID).OrderBy(x => x.Ord))
            {
                <a href="@Utility.LinkAdmin(WebConfig.AdminAlias+"/"+item.Tag,"Index",item.Redirect)" class="badge @(Model.Module.ID == item.ID ? "badge-warning" : "badge-info")">@item.NameModule</a>
            }
        }
    </div>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tab_search">
            <div class="ct_tabssc">
                <form id="searchFrm">
                    <div class="w_searchgr">
                        <div class="form-group form-inline">
                            <input type="text" class="form-control title" name="keyword" placeholder="Nhập từ khóa cần tìm">
                            <select class="form-control" name="service" id="service">
                                <option value="">-- Loại --</option>
                                <option value="301">301 - Moved Permanently</option>
                                <option value="302">302 - Moved Temporarily</option>
                            </select>
                            <button type="button" class="btn btn-info" id="btnSearch"><i class="fa fa-search fa-fw" aria-hidden="true"></i> Tìm kiếm</button>
                            <a href="javascript:" class="delete-all btn btn-danger">Xóa tất cả</a>
                        </div>
                    </div>
                </form>
                <div class="w_tablegr" id="loadGridView"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_add"></div>
    </div>
    <script>
        $(function() {
            ValidInput();
            urlPostAction = "@Url.Action("Actions")";
            urlForm = '@Url.Action("AjaxForm")';
            initAjaxLoad("@Url.Action("ListItems")", "#loadGridView");
            $("#btnSearch").click(function() {
                var form = $("#searchFrm");
                window.location.href = '#' + getValueFormMutilSelect(form);
                return false;
            });
            $('.delete-all').click(function(e) {
                e.preventDefault();
                $.post("@Url.Action("DeleteAll")", function(data) {
                    if (data.errors == false) {
                        window.location.reload();
                    } else {
                        $.growl.error({ title: "Thông báo", message: data.message, location: 'br', size: 'large', duration: 3000 });
                    }
                });
                return false;
            });
            $('#btnImport').parents('.list_tabsct').removeClass('hidden');
            var urlXuatExcel = '@Url.Action("ProcessExportFile")';
            $('#btnExports').click(function() {
                var frm = $("#searchFrm");
                var hastag = getValueFormMutilSelect(frm);
                window.location.href = urlXuatExcel + '?' + hastag;
                return false;
            });
            var urlImport = '@Url.Action("ImportExcel")';
            $("#btnImport").click(function() {
                loadAjax(urlImport, "#tab_add");
            });
        });
    </script>
}
