<!DOCTYPE html>
<html lang="@ViewBag.Lang">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="robots" content="noodp,noindex,nofollow" />
    <meta name="revisit-after" content="1 days" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    @await Html.PartialAsync("../Shared/CSS.cshtml")
    @await Html.PartialAsync("../Shared/JSHead.cshtml")
    <vc:other-component code="TextHead"></vc:other-component>
</head>
<body class="@(ViewBag.Banner != true ? "no-banner" : string.Empty) @(ViewBag.Index != true ? "no-index" : string.Empty)">
    <div class="_loading"><span></span></div>
    <div class="load text-center"><img src="/html/style/images/loading.svg" /><p>@ResourceData.Resource("DangTai", ViewBag.Lang)...</p></div>
    <vc:other-component code="TextBody"></vc:other-component>
    <vc:head-top></vc:head-top>
    @RenderBody()
    <vc:footer></vc:footer>
    <div class="alrt-popup">
        <div class="wapper">
            <div class="title">@Html.Raw(ResourceData.Resource("ThongBao", ViewBag.Lang))</div>
            <div class="main"></div>
            <div class="close-alrt">@Html.Raw(ResourceData.Resource("Dong", ViewBag.Lang))</div>
        </div>
    </div>
    <div class="overlay"></div>
    <vc:other-component code="TextFooter"></vc:other-component>
    @await Html.PartialAsync("../Shared/JS.cshtml")
    <vc:languages-component></vc:languages-component>
</body>
</html>
