@model Website.Areas.Admin.ViewModels.UserAdminViewModel
@{
    ViewBag.Title = " Quản lý Roles";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
@if (Model.SystemActionAdmin.Add || Model.SystemActionAdmin.Edit)
{
    <div class="row">
        <div class="col-sm-12 col-md-7" style="position: static">
            <form id="AddEditForm">
                <div class="box-body col-sm-12 col-md-12">
                    <input type="hidden" name="do" id="do" value="@ViewBag.Action" />
                    <input type="hidden" name="ItemID" id="ItemID" value="@Model.MembershipAdmin.UserId" />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>Tên đăng nhập</label>
                            </div>
                            <div class="col-sm-8">
                                @Model.MembershipAdmin.UserName
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>Module website</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden" name="WebsiteModuleIds" id="Value_ModuleValues" value="@Model.MembershipAdmin.WebsiteModuleIds" />
                                <div id="Text_ModuleValues" class="checkBoxValues">@string.Join(", ", Model.ListWebsiteModuleAdmin.Select(c => c.Name))</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button id="submit" type="submit" class="btn btn-success">Cập nhật</button>
                    <button id="reset" type="reset" class="btn btn-warning">Nhập lại</button>
                    <button id="close" type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><span class="fa fa-close"></span></button>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-5" id="loadTree">
        </div>
    </div>
    <script>
        $(function() {
            loadAjax("@Url.Action("AjaxTreeSelectNotLang", "WebsiteModule")?typeId=2&ValuesSelected=@Model.MembershipAdmin.WebsiteModuleIds", "#loadTree");
            var urlPostAction = "@Url.Action("Actions","UserAdministration")";
            $("#AddEditForm").validate({
                rules: {
                    RoleName: {
                        require: true
                    }
                },
                messages: {
                    RoleName: {
                        require: "Mã quyền bắt buộc nhập"
                    }
                },
                submitHandler: function() {
                    Post(urlPostAction, "#AddEditForm");
                    return false;
                }
            });

        });
    </script>
    <style>
        .content-modal { display: -webkit-box; display: block; }
    </style>
}