@model Website.Areas.Admin.ViewModels.ContactUsViewModel
@if (Model.SystemActionAdmin.Edit || Model.SystemActionAdmin.Add)
{
    <script type="text/javascript">
        $(function () {
            ValidInput();
            $('.back-grid-view').click(function () {
                var contentId = '@(Model.ContactUs.ID)';
                if (contentId != '0') {
                    var listItems = '@Url.Action("ListItems")' + "?" + getValueFormMutilSelect($("#searchFrm")) + "&contentId=" + contentId;
                    loadAjax(listItems, "#loadGridView");
                }
                $('a[href="#tab_search"]').click();
            });
            $("#AddEditForm").validate({
                submitHandler: function () {
                    var tab = $('#Show-Destination ul li.active a').attr('href');
                    tab = tab.substring(1, tab.length);
                    var newurlForm = '@Url.Action("AjaxForm")' + "?tab=" + tab;
                    PostWithAlert(urlPostAction, newurlForm, "#AddEditForm");
                    return false;
                }
            });
        });
    </script>

    <form id="AddEditForm" class="form-horizontal">
        <div class="box-footer">
            <div class="btncss">
                <button id="submit" type="submit" class="primaryAction btn btn-info btn-sm">@ViewBag.ActionText</button>
                <button id="reset" type="reset" class="primaryAction btn btn-default btn-sm">Nhập lại</button>
                <div class="btn btn-info back-grid-view">Quay lại</div>
            </div>
        </div>
        <div class="box-body">
            <input type="hidden" name="Do" id="Do" value="@ViewBag.Action" />
            <input type="hidden" name="ItemId" id="ItemId" value="@Model.ContactUs.ID" />
            <div class="content-panel" id="Show-Destination" style="display: block">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li role="presentation"
                            class="@(string.IsNullOrEmpty(ViewBag.Tab) || ViewBag.Tab =="TabGenaral" ? "active" : string.Empty)">
                            <a href="#TabGenaral" aria-controls="TabGenaral" role="tab" data-toggle="tab">Tổng quan</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel"
                             class="tab-pane @(string.IsNullOrEmpty(ViewBag.Tab) || ViewBag.Tab =="TabGenaral" ? "active" : string.Empty)"
                             id="TabGenaral">
                            <div class="form-group">
                                <label class="col-sm-1">Khách hàng:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control-readonly notvalid" readonly
                                           value="@Model.ContactUs.FullName" placeholder="@Model.ContactUs.FullName" />
                                </div>
                                <label class="col-sm-1">Địa chỉ:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control-readonly notvalid" readonly
                                           value="@Model.ContactUs.Address" placeholder="@Model.ContactUs.Address" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1">Email:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control-readonly notvalid" readonly
                                           value="@Model.ContactUs.Email" placeholder="@Model.ContactUs.Email" />
                                </div>
                                <label class="col-sm-1">Số điện thoại:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control-readonly notvalid" readonly
                                           value="@Model.ContactUs.Phone" placeholder="@Model.ContactUs.Phone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1">Khách sạn:</label>
                                <div class="col-sm-5">
                                    <a href="@Model.ContactUs.ProductLink" title="@Model.ContactUs.ProductName" target="_blank">@Model.ContactUs.ProductName</a>
                                </div>
                                <label class="col-sm-1">Trạng thái</label>
                                <div class="col-sm-5">
                                    <select name="Status" id="Status" class="form-control">
                                        <option value="1" @(Model.ContactUs.Status == 1 ? "selected" : string.Empty)>
                                            Chưa
                                            đọc
                                        </option>
                                        <option value="5" @(Model.ContactUs.Status == 5 ? "selected" : string.Empty)>
                                            Đã đọc
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1">Nội dung:</label>
                                <div class="col-sm-11">
                                    <textarea rows="5" class="form-control-readonly notvalid"
                                              readonly>@Model.ContactUs.Content</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .customer-service-panel {
                    border-bottom: 5px solid #ccc;
                    margin-bottom: 20px;
                }

                .del {
                    margin-bottom: 10px
                }

                .form-control-readonly {
                    background-color: #fff;
                    border: 1px solid #d2d6de;
                    width: 100%;
                    outline: none !important;
                }
            </style>
        </div>
    </form>
}