@model Website.Areas.Admin.ViewModels.ProductViewModel
@using Website.Utils
@using ADCOnline.Utils
@{
    ViewBag.Title = "Hệ thống sản phẩm";
    ViewBag.RolesView = Model.SystemActionAdmin.View;
    ViewBag.RolesSearch = false;
    ViewBag.RolesAdd = Model.SystemActionAdmin.Add;
    ViewBag.RolesEdit = Model.SystemActionAdmin.Edit;
    ViewBag.RolesExcel = false;
    ViewBag.RolesPrint = false;
    ViewBag.RolesCreateFile = false;
    ViewBag.ContentProduct = true;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    bool isGia = false;
    bool isGiaSoc = false;
    bool isBanChay = false;
    bool isMoi = false;
    bool isNoiBat = true;
    bool isHome = true;
    bool isVat = false;
    bool isStatus = false;
    bool isProductCode = true;
    bool isAmount = false;
    bool isThich = false;
}
@if (Model.SystemActionAdmin.View)
{
    <link href="/lib/select-bootstrap/bootstrap-select.css" rel="stylesheet" />
    <script src="/lib/select-bootstrap/bootstrap-select.js"></script>
    <style>
        .form-inline .bootstrap-select {
            display: none !important;
        }
    </style>
    <div class="col-sm-12">
        @if (Model.ListModule.Any())
        {
            @foreach (var item in Model.ListModule.Where(x => x.ParentID == Model.Module.ParentID).OrderBy(x => x.Ord))
            {
                <a href="@Utility.LinkAdmin(WebConfig.AdminAlias+"/"+item.Tag,"Index",item.Redirect)" class="badge @(Model.Module.ID == item.ID ? "badge-warning" : "badge-info")">@item.NameModule</a>
            }
        }
    </div>
    <span></span>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tab_search">
            <div class="">
                <form id="searchFrm">
                    <div class="w_searchgr form-inline">
                        <input style="width: auto; margin-bottom: 10px; vertical-align:top;" type="text" class="form-control title" id="Keyword" name="Keyword" placeholder="Nhập từ khóa cần tìm" value="@Html.Raw(Context.Request.Query["Keyword"])">
                        <select class="form-control" name="sort" id="sort">
                            <option value="">-- Sắp xếp --</option>
                            <option value="0">A-Z</option>
                            <option value="1">Z-A</option>
                            @if (isGia == true)
                            {
                                <option value="2">Giá giảm dần</option>
                                <option value="3">Giá tăng dần</option>
                            }
                            <option value="4">Mới - cũ</option>
                            <option value="5">Cũ - mới</option>
                            <option value="6">Xem nhiều nhất</option>
                            @if (isThich == true)
                            {
                                <option value="7">Yêu thích nhất</option>
                            }
                            @if (isAmount == true)
                            {
                                <option value="8">Tồn kho nhiều</option>
                            }
                        </select>
                        <select class="form-control" name="Show" id="Show">
                            <option value="">-- Ẩn/Hiện --</option>
                            <option value="1">Hiện</option>
                            <option value="0">Ẩn</option>
                        </select>
                        <select class="form-control" name="Status" id="Status">
                            <option value="">-- Đặc biệt --</option>
                            @if (isHome)
                            {
                                <option value="1">Trang chủ</option>
                            }
                            @if (isNoiBat)
                            {
                                <option value="3">Nổi bật</option>
                            }
                            @if (isMoi)
                            {
                                <option value="0">Mới</option>
                            }
                            @if (isGiaSoc)
                            {
                                <option value="5">Giá sốc</option>
                            }
                            @if (isBanChay)
                            {
                                <option value="2">Bán chạy</option>
                            }
                        </select>
                        <select class="form-control" name="type" id="type">
                            <option value="">-- Khác --</option>
                            @if (isGia == true)
                            {
                                <option value="0">Giá = 0</option>
                                <option value="1">Có giá thị trường</option>
                            }
                            <option value="2">Chưa có ảnh</option>
                            <option value="3">Chưa có danh mục</option>
                            @if (isProductCode == true)
                            {
                                <option value="4">Chưa có mã hàng</option>
                            }
                            @if (isStatus == true)
                            {
                                <option value="5">Còn hàng</option>
                                <option value="6">Hết hàng</option>
                                <option value="7">Ngừng kinh doanh</option>
                            }
                            @if (isVat == true)
                            {
                                <option value="8">Giá có VAT</option>
                                <option value="9">Giá chưa có VAT</option>
                            }
                            <option value="10">Có Sitemap</option>
                            <option value="11">Chưa có Sitemap</option>
                        </select>
                        <button type="submit" class="btn btn-info btn-sm" id="btnSearch"><i class="lnr lnr-magnifier fa-fw" aria-hidden="true"></i> Tìm kiếm</button>
                        @if (Model.ListWebsiteModuleAdmin.Any(x => x.ModuleTypeCode == StaticEnum.Product || x.ModuleTypeCode == StaticEnum.Trademark) && Model.ListWebsiteModuleAdmin.Count(x => x.ModuleTypeCode == StaticEnum.Product || x.ModuleTypeCode == StaticEnum.Trademark) > 0)
                        {
                            <select class="form-control change-search selectpicker" name="ModuleId" id="ModuleId" data-container="body" data-live-search="true" title="-- Sản phẩm --" data-hide-disabled="true" style="display: none">
                                <option value="" data-type="">-- Tất cả --</option>
                                @foreach (var parent in Model.ListWebsiteModuleAdmin.Where(x => x.ParentID == 0 && (x.ModuleTypeCode == StaticEnum.Product || x.ModuleTypeCode == StaticEnum.Trademark)).OrderBy(x => x.OrderDisplay))
                                {
                                    <option value="@parent.ID" data-type="@parent.ModuleTypeCode">@parent.Name</option>
                                    foreach (var module in Model.ListWebsiteModuleAdmin.Where(x => x.ParentID == parent.ID && (x.ModuleTypeCode == StaticEnum.Product || x.ModuleTypeCode == StaticEnum.Trademark)).OrderBy(x => x.OrderDisplay))
                                    {
                                        <option value="@module.ID" data-type="@module.ModuleTypeCode">- @module.Name -</option>
                                        foreach (var item in Model.ListWebsiteModuleAdmin.Where(x => x.ParentID == module.ID && (x.ModuleTypeCode == StaticEnum.Product || x.ModuleTypeCode == StaticEnum.Trademark)).OrderBy(x => x.OrderDisplay))
                                        {
                                            <option value="@item.ID" data-type="@item.ModuleTypeCode">-- @item.Name --</option>
                                            foreach (var item1 in Model.ListWebsiteModuleAdmin.Where(x => x.ParentID == item.ID && (x.ModuleTypeCode == StaticEnum.Product || x.ModuleTypeCode == StaticEnum.Trademark)).OrderBy(x => x.OrderDisplay))
                                            {
                                                <option value="@item1.ID" data-type="@item1.ModuleTypeCode">--- @item1.Name ---</option>
                                                foreach (var item2 in Model.ListWebsiteModuleAdmin.Where(x => x.ParentID == item1.ID && (x.ModuleTypeCode == StaticEnum.Product || x.ModuleTypeCode == StaticEnum.Trademark)).OrderBy(x => x.OrderDisplay))
                                                {
                                                    <option value="@item2.ID" data-type="@item2.ModuleTypeCode">---- @item2.Name ----</option>
                                                }
                                            }
                                        }
                                    }
                                }
                            </select>
                        }
                        @*   <select class="form-control" name="pagesize" id="pagesize">
                    <option value="">-- Hiển thị/Trang --</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    </select>
                    <input type="text" class="form-control" style="width: 50px !important;" name="page" value="" id="page" placeholder="Trang" />*@
                    </div>
                </form>
                <div class="form-group">
                    <div class="col-sm-2">
                        <div class="w_tablegr" id="loadGridModuleView">
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="w_tablegr" id="loadGridView">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_add">
        </div>
        <div class="tab-pane fade" id="tab_add_warehouse">
        </div>
    </div>
    <script>
        $(function () {
            ValidInput();
            $('.selectpicker').selectpicker();
            $('.brandpicker').selectpicker();
            var moduleId = window.location.href.getParamFromUrl("ModuleId");
            urlPostAction = "@Url.Action("Actions")";
            urlPostResetOrder = "@Url.Action("ResetOrder")";
            urlForm = '@Url.Action("AjaxForm")';
            initAjaxLoad("@Url.Action("ListItems")", "#loadGridView");
            $("#loadGridModuleView").load(encodeURI("/@WebConfig.AdminAlias/WebsiteModule/AjaxTreeSelectModuleProduct"));
            var form = $("#searchFrm");
            $("#btnSearch").click(function (e) {
                LoadSearch(form);
            });
            form.validate({
                submitHandler: function () {
                    LoadSearch(form);
                }
            });
            $('#searchFrm select').change(function () {
                LoadSearch(form);
            });
            function LoadSearch(t) {
                debugger
                window.location.href = '#' + getValueFormMutilSelect(t);
                return false;
            }
            var urlXuatExcel = '@Url.Action("ProcessExportFile", "Product")';
            $('#btnExports').click(function () {
                var frm = $("#searchFrm");
                var hastag = getValueFormMutilSelect(frm);
                window.location.href = urlXuatExcel + '?' + hastag;
                return false;
            });
            $('.grid-note>span').click(function () {
                $(this).next('.note-content').slideToggle();
            });
        });
    </script>
    <div class="generate-promotion-products" data-listid="209349,210472,210467,225569,218053" data-categoryid="" data-manufactureid="" data-propertyid="" data-pagesize="" data-title="" data-productperline="3" style="display: block;"></div>
}