@model IndexViewModel
@using ADCOnline.Simple.Json
@using ADCOnline.Simple.Item
@{
    var Logo = Model.ListPositionItem.Any(x => x.Code == StaticEnum.Logo) ? Model.ListPositionItem.FirstOrDefault(x => x.Code == StaticEnum.Logo).AdvertisingItems : new List<AdvertisingItem>();
    var Menu = Model.ListPositionItem.Any(x => x.Code == StaticEnum.MainMenu) ? Model.ListPositionItem.FirstOrDefault(x => x.Code == StaticEnum.MainMenu).WebsiteModulesItems : new List<WebsiteModulesJson>();
    var MenuTop = Model.ListPositionItem.Any(x => x.Code == StaticEnum.MenuTop) ? Model.ListPositionItem.FirstOrDefault(x => x.Code == StaticEnum.MenuTop).WebsiteModulesItems : new List<WebsiteModulesJson>();
    var hotline = !string.IsNullOrEmpty(Model.SystemConfigItem.Hotline) ? Model.SystemConfigItem.Hotline.Replace(" ", "").Split(',') : null;
    SizeImages image = new SizeImages();
}

<header>
    <div class="container container-2">
        @if (Logo.Any())
        {
            @foreach (AdvertisingItem item in Logo.Take(1))
            {
                if (!string.IsNullOrEmpty(item.LinkUrl))
                {
                    <a href="@item.LinkUrl" title="@ResourceData.Resource("TrangChu", ViewBag.Lang)" class="logo">
                        <img loading="lazy" src="@item.UrlPicture" alt="@ResourceData.Resource("TrangChu", ViewBag.Lang)" width="235" height="70" />
                    </a>
                }
                else
                {
                    <div class="logo">
                        <img loading="lazy" src="@item.UrlPicture" alt="@ResourceData.Resource("TrangChu", ViewBag.Lang)" width="235" height="70" />
                    </div>
                }
            }
        }
        <div class="right">
            <div class="top">
                @if (MenuTop.Any())
                {
                    <div class="menu-top">
                        @foreach (WebsiteModulesJson item in MenuTop)
                        {
                            <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="item">@item.Name</a>
                        }
                    </div>
                }
                <div class="lang">
                    <div class="item" onclick="changeLang($(this))" data-lang="/vi/en">EN</div>
                    <div class="item">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px"
                                 fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
                                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z" />
                            </svg>
                        </div>
                        <div onclick="changeLang($(this))" data-lang="/vi/vi">VN</div>
                    </div>
                </div>
                <div class="search">
                    <div class="icon btn-down active">
                        <svg xmlns="http://www.w3.org/2000/svg" height="17px"
                             viewBox="0 0 512 512">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                    </div>
                    <div class="icon btn-close">
                        <svg xmlns="http://www.w3.org/2000/svg" height="17px"
                             viewBox="0 0 384 512">
                            <path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z" />
                        </svg>
                    </div>
                    <form action="/tim-kiem" method="post">
                        <input type="text" required name="q" placeholder="@ResourceData.Resource("TimKiem",ViewBag.Lang)">
                        <button type="submit" aria-label="Tìm kiếm" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" height="17px"
                                 viewBox="0 0 512 512">
                                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            @if (Menu.Any(x => x.ParentID == 0))
            {
                <div class="menu">
                    <ul>
                        @foreach (WebsiteModulesJson parent in Menu.Where(x => x.ParentID == 0))
                        {
                            <li>
                                <a href="@Utility.Link(parent.NameAscii, string.Empty, parent.LinkUrl)" title="@parent.Name" class="item">@parent.Name</a>
                                @if (Menu.Any(x => x.ParentID == parent.ID))
                                {
                                    <div class="icon btn-down">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="16"
                                             viewBox="0 0 512 512">
                                            <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                                        </svg>
                                    </div>
                                    <div class="sub-menu">
                                        <ul>
                                            @foreach (WebsiteModulesJson item in Menu.Where(x => x.ParentID == parent.ID))
                                            {
                                                <li>
                                                    <a href="@Utility.Link(item.NameAscii, string.Empty, item.LinkUrl)" title="@item.Name" class="item">@item.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="menu-icon">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</header>

